<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.sdk.mapper.BaseProjectMapper">
    <select id="selectOne" resultType="io.metersphere.project.domain.Project">
        SELECT *
        FROM project
        LIMIT 1
    </select>
</mapper>