<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.sdk.mapper.BaseModuleMapper">

    <update id="addResourceCount">
        UPDATE #{tableName}
        SET resource_count = resource_count + #{count}
        WHERE id = #{primaryKey}
    </update>
    <update id="subResourceCount">
        UPDATE #{tableName}
        SET resource_count = resource_count - #{count}
        WHERE id = #{primaryKey}
    </update>
</mapper>

