@font-face {
  font-family: iconfont; /* Project id 4625307 */
  src: url('iconfont.woff2?t=1747894165355') format('woff2'), url('iconfont.woff?t=1747894165355') format('woff'),
    url('iconfont.ttf?t=1747894165355') format('truetype'), url('iconfont.svg?t=1747894165355#iconfont') format('svg');
}
.iconfont {
  font-size: 16px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon_duplicate_check::before {
  content: '\e6fa';
}
.icon-icon_synchronous::before {
  content: '\e6e9';
}
.icon-icon_release::before {
  content: '\e6e8';
}
.icon-icon_environment::before {
  content: '\e6dc';
}
.icon-icon_task_center::before {
  content: '\e6db';
}
.icon-icon_file_ms::before {
  content: '\e6da';
}
.icon-icon_disassociation::before {
  content: '\e6d9';
}
.icon-icon_update_rotatiorn::before {
  content: '\e6b1';
}
.icon-icon_download::before {
  content: '\e6a7';
}
.icon-icon_expand-right_filled1::before {
  content: '\e692';
}
.icon-icon_folder_outlined::before {
  content: '\e693';
}
.icon-icon_local_outlined::before {
  content: '\e694';
}
.icon-icon_Batch_outlined::before {
  content: '\e699';
}
.icon-icon_pull-left_outlined::before {
  content: '\e6a2';
}
.icon-icon_left-alignment_outlined::before {
  content: '\e6a3';
}
.icon-icon_drag_outlined::before {
  content: '\e6a4';
}
.icon-icon_logs_outlined::before {
  content: '\e6a5';
}
.icon-icon_new-item_outlined::before {
  content: '\e6a6';
}
.icon-icon_font-color_outlined::before {
  content: '\e6a9';
}
.icon-icon_mindnote_outlined::before {
  content: '\e6aa';
}
.icon-icon_moments-categories_outlined::before {
  content: '\e6ab';
}
.icon-icon_doc-replace_outlined::before {
  content: '\e6ac';
}
.icon-icon_italic_outlined::before {
  content: '\e6ad';
}
.icon-icon_scroll_filled::before {
  content: '\e6ae';
}
.icon-icon_folder_outlined-1::before {
  content: '\e6af';
}
.icon-icon_file-link-image_outlined::before {
  content: '\e6b0';
}
.icon-icon_pc_outlined::before {
  content: '\e6b2';
}
.icon-icon_minify_outlined::before {
  content: '\e6b3';
}
.icon-icon_text_outlined::before {
  content: '\e6b4';
}
.icon-icon_stretch_outlined::before {
  content: '\e6b5';
}
.icon-icon_resetpassword1::before {
  content: '\e6b6';
}
.icon-icon_into-item_outlined::before {
  content: '\e6b7';
}
.icon-icon_organization_outlined::before {
  content: '\e6bc';
}
.icon-icon_share-label_filled::before {
  content: '\e6c5';
}
.icon-icon_visible_outlined::before {
  content: '\e6cb';
}
.icon-icon_time_outlined::before {
  content: '\e6cc';
}
.icon-icon_effects_outlined::before {
  content: '\e6cd';
}
.icon-icon_style-set_outlined::before {
  content: '\e6ce';
}
.icon-icon_redo_outlined::before {
  content: '\e6d0';
}
.icon-icon_vertical-align_outlined1::before {
  content: '\e6d1';
}
.icon-icon-quicksetting::before {
  content: '\e6d3';
}
.icon-icon_link-record_outlined::before {
  content: '\e6d4';
}
.icon-icon_template_outlined::before {
  content: '\e6d5';
}
.icon-icon_notification_outlined::before {
  content: '\e6d8';
}
.icon-icon_plugin_outlined::before {
  content: '\e6ed';
}
.icon-icon_switch_outlined::before {
  content: '\e6ee';
}
.icon-icon_pull-right_outlined::before {
  content: '\e6f8';
}
.icon-icon-laser::before {
  content: '\e6f9';
}
.icon-icon-group::before {
  content: '\e6fb';
}
.icon-icon_link-copy_outlined::before {
  content: '\e6fc';
}
.icon-icon_reset_outlined::before {
  content: '\e6fd';
}
.icon-icon_right_outlined::before {
  content: '\e6fe';
}
.icon-icon_undo_outlined::before {
  content: '\e701';
}
.icon-icon-setting::before {
  content: '\e702';
}
.icon-icon_pie_filled::before {
  content: '\e70e';
}
.icon-icon_divider_outlined::before {
  content: '\e715';
}
.icon-icon_file-unknow_colorful::before {
  content: '\e718';
}
.icon-icon_pie_filled1::before {
  content: '\e719';
}
.icon-icon_performance-test-filled::before {
  content: '\e71a';
}
.icon-icon_api-test-filled::before {
  content: '\e71b';
}
.icon-icon_ui-test-filled::before {
  content: '\e71c';
}
.icon-icon_block_outlined::before {
  content: '\e71d';
}
.icon-icon_member_outlined::before {
  content: '\e71e';
}
.icon-icon_member-add_outlined::before {
  content: '\e71f';
}
.icon-icon_not-started_outlined::before {
  content: '\e720';
}
.icon-icon_skip_outlined::before {
  content: '\e721';
}
.icon-icon_operation-analysis_outlined::before {
  content: '\e725';
}
.icon-icon_plan-test-filled::before {
  content: '\e726';
}
.icon-icon_shield_outlined::before {
  content: '\e727';
}
.icon-icon_horizontal-align_outlined::before {
  content: '\e7c1';
}
.icon-icon_right-align_outlined::before {
  content: '\e7c3';
}
.icon-icon_side-expand_outlined::before {
  content: '\e7c4';
}
.icon-icon_left-align_outlined::before {
  content: '\e7c5';
}
.icon-icon_scan_outlined::before {
  content: '\e7c6';
}
.icon-icon_qr_outlined::before {
  content: '\e7c7';
}
.icon-icon_tabs_filled::before {
  content: '\e7c8';
}
.icon-icon_adjustment_outlined::before {
  content: '\e7c9';
}
.icon-icon_underline_outlined::before {
  content: '\e7cb';
}
.icon-icon_viewinchat_outlined::before {
  content: '\e7cc';
}
.icon-icon-filter_filled::before {
  content: '\e7cd';
}
.icon-icon_side-fold_outlined::before {
  content: '\e7ce';
}
.icon-icon_zoom-in_outlined::before {
  content: '\e7cf';
}
.icon-icon_sql_outlined1::before {
  content: '\e7d7';
}
.icon-icon_move_outlined::before {
  content: '\e7d8';
}
.icon-icon_assigned_outlined::before {
  content: '\e7d9';
}
.icon-icon_team-add_outlined::before {
  content: '\e7da';
}
.icon-icon_info_colorful::before {
  content: '\e7db';
}
.icon-icon_succeed_colorful::before {
  content: '\e7dc';
}
.icon-icon_close_colorful::before {
  content: '\e7df';
}
.icon-icon_warning_colorful::before {
  content: '\e7e1';
}
.icon-icon_stroke::before {
  content: '\e7fe';
}
.icon-icon_color-picker::before {
  content: '\e7ff';
}
.icon-icon_checkbox::before {
  content: '\e809';
}
.icon-icon_test-tracking_colorful::before {
  content: '\e817';
}
.icon-icon_community-tab_outlined::before {
  content: '\e818';
}
.icon-icon_play-round_filled11::before {
  content: '\e819';
}
.icon-icon_laser_filled::before {
  content: '\e81b';
}
.icon-icon_stop_outlined::before {
  content: '\e81c';
}
.icon-icon_card_filled::before {
  content: '\e81d';
}
.icon-icon_api-test-filled1::before {
  content: '\e83a';
}
.icon-icon_phone_outlined::before {
  content: '\e84f';
}
.icon-icon_busy_outlined::before {
  content: '\e850';
}
.icon-icon_member_filled::before {
  content: '\e851';
}
.icon-icon_jira-filter_filled::before {
  content: '\e852';
}
.icon-icon_pause_outlined::before {
  content: '\e853';
}
.icon-icon_application_outlined::before {
  content: '\e854';
}
.icon-icon_qr_filled::before {
  content: '\e855';
}
.icon-icon_resolve_outlined::before {
  content: '\e856';
}
.icon-icon_notification-setting_outlined::before {
  content: '\e857';
}
.icon-icon_play_outlined::before {
  content: '\e858';
}
.icon-icon_sheet-datareference_outlined::before {
  content: '\e859';
}
.icon-icon_delete-trash_filled1::before {
  content: '\e85a';
}
.icon-icon_approval_outlined11::before {
  content: '\e85b';
}
.icon-icon_schedule-report_outlined::before {
  content: '\e85f';
}
.icon-icon_sheet-datareference_filled::before {
  content: '\e860';
}
.icon-icon_setting-inter_outlined::before {
  content: '\e861';
}
.icon-icon_preferences_outlined::before {
  content: '\e86e';
}
.icon-icon_bottom-align_outlined::before {
  content: '\e659';
}
.icon-icon_sort_outlined::before {
  content: '\e65d';
}
.icon-icon_vertical-align_outlined::before {
  content: '\e65e';
}
.icon-icon_resetpassword::before {
  content: '\e66b';
}
.icon-icon_arrow-left_outlined::before {
  content: '\e66c';
}
.icon-icon_arrow-right_outlined::before {
  content: '\e66d';
}
.icon-icon_add_outlined-1::before {
  content: '\e66e';
}
.icon-icon_add-entry_outlined::before {
  content: '\e66f';
}
.icon-icon_add-dictionary_outlined::before {
  content: '\e670';
}
.icon-icon_add-folder_outlined::before {
  content: '\e671';
}
.icon-icon_bottom-align_outlined1::before {
  content: '\e674';
}
.icon-icon_clear_outlined::before {
  content: '\e675';
}
.icon-icon_bold_outlined::before {
  content: '\e677';
}
.icon-icon_center-alignment_outlined::before {
  content: '\e679';
}
.icon-icon_copy_outlined::before {
  content: '\e67a';
}
.icon-icon_chat-news_outlined::before {
  content: '\e67b';
}
.icon-icon_collection_outlined::before {
  content: '\e67c';
}
.icon-icon_admin_outlined1::before {
  content: '\e67d';
}
.icon-icon_form_outlined::before {
  content: '\e67f';
}
.icon-icon_magnify_outlined::before {
  content: '\e680';
}
.icon-icon_describe_outlined::before {
  content: '\e682';
}
.icon-icon_image_outlined::before {
  content: '\e683';
}
.icon-icon_down-right_outlined::before {
  content: '\e684';
}
.icon-icon_gridlines_outlined::before {
  content: '\e688';
}
.icon-icon_collect_filled::before {
  content: '\e689';
}
.icon-icon_expand-down_filled::before {
  content: '\e68a';
}
.icon-icon_more_outlined::before {
  content: '\e6a2';
}
.icon-icon_refresh_outlined::before {
  content: '\e698';
}
.icon-icon_view-list_outlined::before {
  content: '\e6d7';
}
.icon-icon_file_har::before {
  content: '\e6a1';
}
.icon-icon_curl::before {
  content: '\e6a0';
}
.icon-icon_delete_countdown::before {
  content: '\e69f';
}
.icon-a-icon_file-JMX::before {
  content: '\e69e';
}
.icon-icon_mock::before {
  content: '\e790';
}
.icon-icon_expand-text-input::before {
  content: '\e791';
}
.icon-icon_clear::before {
  content: '\e792';
}
.icon-icon_flashlamp::before {
  content: '\e793';
}
.icon-icon_checkbox1::before {
  content: '\e794';
}
.icon-icon_split-turn-down-left::before {
  content: '\e795';
}
.icon-icon_keyboard::before {
  content: '\e796';
}
.icon-a-icon_file-json::before {
  content: '\e797';
}
.icon-icon_swagger::before {
  content: '\e798';
}
.icon-icon_carriage_return1::before {
  content: '\e799';
}
.icon-icon_carriage_return2::before {
  content: '\e79a';
}
.icon-icon_split_turn-down_arrow::before {
  content: '\e79b';
}
.icon-icon_swich::before {
  content: '\e79c';
}
.icon-icon_lower_branch::before {
  content: '\e79d';
}
.icon-icon_aiming::before {
  content: '\e79e';
}
.icon-icon_frame_select::before {
  content: '\e79f';
}
.icon-icon_form_one::before {
  content: '\e7a0';
}
.icon-icon_unlink::before {
  content: '\e7a1';
}
.icon-icon_unloading::before {
  content: '\e7a2';
}
.icon-icon_expand_interface::before {
  content: '\e7a3';
}
.icon-icon_collapse_interface::before {
  content: '\e7a4';
}
.icon-icon_env::before {
  content: '\e7a5';
}
.icon-icon_case::before {
  content: '\e7a6';
}
.icon-icon_env1::before {
  content: '\e7a7';
}
.icon-icon_stop::before {
  content: '\e7a8';
}
.icon-icon_menu_unfold::before {
  content: '\e7a9';
}
.icon-icon_menu_fold::before {
  content: '\e7aa';
}
.icon-icon_audit::before {
  content: '\e7ac';
}
.icon-icon_chevron-down::before {
  content: '\e7ad';
}
.icon-icon_chevron-up::before {
  content: '\e7ae';
}
.icon-icon_filter::before {
  content: '\e7af';
}
.icon-icon_threshold::before {
  content: '\e7b0';
}
.icon-icon_bug::before {
  content: '\e7b1';
}
.icon-icon_functional_testing1::before {
  content: '\e7b2';
}
.icon-a-icon_test-tracking_filled1::before {
  content: '\e7b3';
}
.icon-icon_api-test-filled2::before {
  content: '\e7b4';
}
.icon-icon_project::before {
  content: '\e7b5';
}
.icon-icon_generate_report::before {
  content: '\e7b6';
}
.icon-icon_scan_code::before {
  content: '\e7b7';
}
.icon-icon_plan::before {
  content: '\e7b8';
}
.icon-icon_github::before {
  content: '\e7b9';
}
.icon-icon_forum::before {
  content: '\e7ba';
}
.icon-icon_vip::before {
  content: '\e7bb';
}
.icon-icon_info_outlined1::before {
  content: '\e7bc';
}
.icon-icon_protocol::before {
  content: '\e7bd';
}
.icon-icon_title-top-align_outlined::before {
  content: '\e7be';
}
.icon-icon_title-left-align_outlined::before {
  content: '\e7bf';
}
.icon-icon_jira-filter_outlined::before {
  content: '\e7dd';
}
.icon-icon_status-vacation_filled::before {
  content: '\e7de';
}
.icon-icon_more-vertical_outlined::before {
  content: '\e7e0';
}
.icon-a-icon_left_and_right_layout::before {
  content: '\e7e7';
}
.icon-icon_top_and_bottom_layout::before {
  content: '\e7e8';
}
.icon-icon_test_set::before {
  content: '\e7e9';
}
.icon-icon_test_set1::before {
  content: '\e7ea';
}
.icon-icon_visible_outlined1::before {
  content: '\e7eb';
}
.icon-icon_structure::before {
  content: '\e7ec';
}
.icon-icon_left_and_right_branch::before {
  content: '\e7ed';
}
.icon-icon_left_branch::before {
  content: '\e7ee';
}
.icon-icon_right_branch::before {
  content: '\e7ef';
}
.icon-icon_lower_branch1::before {
  content: '\e7f0';
}
.icon-icon_press::before {
  content: '\e6f0';
}
.icon-icon_tab::before {
  content: '\e6f3';
}
.icon-icon_play-round_outlined::before {
  content: '\e6d2';
}
.icon-icon_calendar_outlined::before {
  content: '\e672';
}
.icon-icon_delete-trash_outlined1::before {
  content: '\e676';
}
.icon-icon_close_outlined::before {
  content: '\e67e';
}
.icon-icon_add_outlined::before {
  content: '\e686';
}
.icon-icon_edit_outlined::before {
  content: '\e687';
}
.icon-icon_card_outlined::before {
  content: '\e68b';
}
.icon-icon_down_outlined::before {
  content: '\e68d';
}
.icon-icon_history_outlined::before {
  content: '\e68e';
}
.icon-icon_attachment_outlined::before {
  content: '\e68f';
}
.icon-icon_play-round_filled::before {
  content: '\e6b8';
}
.icon-icon-lock::before {
  content: '\e6b9';
}
.icon-icon_top-align_outlined::before {
  content: '\e6bd';
}
.icon-icon_rename_outlined::before {
  content: '\e6be';
}
.icon-icon_share-label_outlined::before {
  content: '\e6bf';
}
.icon-icon_right-alignment_outlined::before {
  content: '\e6c0';
}
.icon-icon-draft::before {
  content: '\e6c1';
}
.icon-icon_search-outline_outlined::before {
  content: '\e6c2';
}
.icon-icon_upload_outlined::before {
  content: '\e6c3';
}
.icon-icon-contacts::before {
  content: '\e6c4';
}
.icon-icon_up_outlined::before {
  content: '\e6c6';
}
.icon-icon_unlink_outlined::before {
  content: '\e6c7';
}
.icon-icon-alarmclock::before {
  content: '\e6c8';
}
.icon-icon_number_outlined::before {
  content: '\e6c9';
}
.icon-icon_up-left_outlined::before {
  content: '\e6ca';
}
.icon-icon-filter::before {
  content: '\e6cf';
}
.icon-icon_take-action_outlined::before {
  content: '\e6d6';
}
.icon-icon_info_filled::before {
  content: '\e685';
}
.icon-icon_close_filled::before {
  content: '\e691';
}
.icon-icon_info_outlined::before {
  content: '\e696';
}
.icon-icon_warning_filled::before {
  content: '\e69a';
}
.icon-icon_yes_outlined::before {
  content: '\e6a8';
}
.icon-icon_succeed_filled::before {
  content: '\e6ba';
}
.icon-icon-maybe_outlined::before {
  content: '\e6bb';
}
.icon-icon_left_outlined::before {
  content: '\e6e5';
}
.icon-icon_folder_filled::before {
  content: '\e6e6';
}
.icon-icon_pc_filled::before {
  content: '\e6ea';
}
.icon-icon_approval_outlined::before {
  content: '\e6ec';
}
.icon-icon_resubmit_filled::before {
  content: '\e6ef';
}
.icon-icon_test-tracking_filled::before {
  content: '\e6f1';
}
.icon-icon_add-comment_outlined::before {
  content: '\e6f2';
}
.icon-icon_setting_filled::before {
  content: '\e6f5';
}
.icon-icon_project-settings-filled::before {
  content: '\e6f6';
}
.icon-icon_contrast_outlined::before {
  content: '\e6f7';
}
.icon-icon_block_filled::before {
  content: '\e6eb';
}
.icon-icon_not-started_filled::before {
  content: '\e6f4';
}
.icon-icon_text-box_filled::before {
  content: '\e722';
}
.icon-icon_code_outlined::before {
  content: '\e723';
}
.icon-icon_invisible_outlined::before {
  content: '\e724';
}
.icon-icon_create_planarity::before {
  content: '\e620';
}
.icon-icon_binding::before {
  content: '\e621';
}
.icon-icon_wait::before {
  content: '\e622';
}
.icon-icon_translation::before {
  content: '\e623';
}
.icon-icon_testing::before {
  content: '\e624';
}
.icon-a-icon_system_settings::before {
  content: '\e626';
}
.icon-icon_statistical_report_planarity::before {
  content: '\e627';
}
.icon-icon_skip_planarity::before {
  content: '\e628';
}
.icon-icon_skip_linear::before {
  content: '\e629';
}
.icon-icon_scroll_filled1::before {
  content: '\e62a';
}
.icon-icon_reexamination_planarity::before {
  content: '\e62b';
}
.icon-icon_preview_close_one::before {
  content: '\e62c';
}
.icon-icon_off_screen::before {
  content: '\e62d';
}
.icon-icon_guide::before {
  content: '\e62e';
}
.icon-icon_reexamination_linear::before {
  content: '\e62f';
}
.icon-icon_functional_testing::before {
  content: '\e630';
}
.icon-icon_full_screen_one::before {
  content: '\e631';
}
.icon-icon_folder::before {
  content: '\e632';
}
.icon-icon_add::before {
  content: '\e63a';
}
.icon-icon_alarm_clock::before {
  content: '\e63b';
}
.icon-icon_drag::before {
  content: '\e63c';
}
.icon-icon_statistical_report_linear::before {
  content: '\e63d';
}
.icon-icon_reduce::before {
  content: '\e63e';
}
.icon-a-icon_file-compressed_colorful_ash2::before {
  content: '\e63f';
}
.icon-a-icon_file-compressed_colorful2::before {
  content: '\e640';
}
.icon-icon_file-image_colorful_ash::before {
  content: '\e642';
}
.icon-icon_file-ppt_colorful_ash::before {
  content: '\e643';
}
.icon-icon_file-pdf_colorful_ash::before {
  content: '\e644';
}
.icon-a-icon_file-compressed_colorful1::before {
  content: '\e645';
}
.icon-icon_file-image_colorful1::before {
  content: '\e646';
}
.icon-icon_file-word_colorful_ash::before {
  content: '\e647';
}
.icon-icon_file-sketch_colorful1::before {
  content: '\e648';
}
.icon-icon_file-ppt_colorful1::before {
  content: '\e649';
}
.icon-icon_file-excel_colorful_ash::before {
  content: '\e64a';
}
.icon-icon_file-vedio_colorful_ash::before {
  content: '\e64b';
}
.icon-icon_file-excel_colorful1::before {
  content: '\e64c';
}
.icon-icon_file-pdf_colorful1::before {
  content: '\e64d';
}
.icon-icon_file-vedio_colorful1::before {
  content: '\e64e';
}
.icon-icon_file-CSV_colorful_ash::before {
  content: '\e64f';
}
.icon-icon_file-sketch_colorful_ash::before {
  content: '\e650';
}
.icon-icon_file-CSV_colorful1::before {
  content: '\e651';
}
.icon-icon_file-sql_colorful_ash::before {
  content: '\e652';
}
.icon-icon_file-text_colorful1::before {
  content: '\e653';
}
.icon-icon_file-word_colorful1::before {
  content: '\e654';
}
.icon-icon_file-xmind_colorful1::before {
  content: '\e655';
}
.icon-icon_file-sql_colorful1::before {
  content: '\e656';
}
.icon-icon_file-text_colorful_ash::before {
  content: '\e657';
}
.icon-icon_file-xmind_colorful_ash::before {
  content: '\e658';
}
.icon-icon_restarting::before {
  content: '\e65f';
}
.icon-icon_file-unknow_colorful1::before {
  content: '\e660';
}
.icon-icon_disable::before {
  content: '\e661';
}
.icon-icon_carriage_return::before {
  content: '\e662';
}
.icon-icon_corner_right_up::before {
  content: '\e663';
}
.icon-icon_api::before {
  content: '\e664';
}
.icon-icon_defect::before {
  content: '\e665';
}
.icon-icon_version::before {
  content: '\e666';
}
.icon-icon_folder_collapse::before {
  content: '\e667';
}
.icon-icon_drawer::before {
  content: '\e668';
}
.icon-icon_chart::before {
  content: '\e669';
}
.icon-icon_functions_outlined::before {
  content: '\e72a';
}
.icon-a-icon_letter-spacing_outlined::before {
  content: '\e72b';
}
.icon-icon_justify-text_outlined::before {
  content: '\e72c';
}
.icon-icon_screen_outlined::before {
  content: '\e731';
}
.icon-icon_zoom-out_outlined::before {
  content: '\e73c';
}
.icon-icon_multi-elementalign-center_outlined::before {
  content: '\e743';
}
.icon-icon_multi-elementalign-middle_outlined::before {
  content: '\e744';
}
.icon-icon_multi-elementalign-bottom_outlined::before {
  content: '\e745';
}
.icon-icon_multi-elementalign-left_outlined::before {
  content: '\e746';
}
.icon-icon_multi-elementalign-right_outlined::before {
  content: '\e747';
}
.icon-icon_multi-elementalign-top_outlined::before {
  content: '\e748';
}
.icon-icon_that_person::before {
  content: '\e66a';
}
.icon-icon_maybe_filled::before {
  content: '\e750';
}
.icon-icon_time_axis::before {
  content: '\e751';
}
.icon-icon_git::before {
  content: '\e752';
}
.icon-a-icon_file-jar_colorful_ash::before {
  content: '\e753';
}
.icon-icon_copy_filled::before {
  content: '\e754';
}
.icon-icon_folder_filled1::before {
  content: '\e755';
}
.icon-icon_folder_collapse1::before {
  content: '\e756';
}
.icon-icon_bot1::before {
  content: '\e758';
}
.icon-icon_dingding::before {
  content: '\e757';
}
.icon-a-icon_file-jar_colorful::before {
  content: '\e759';
}
.icon-icon_feishu::before {
  content: '\e75a';
}
.icon-icon_folder_expansion1::before {
  content: '\e75b';
}
.icon-icon_line-height_outlined::before {
  content: '\e75c';
}
.icon-logo_dingtalk::before {
  content: '\e75d';
}
.icon-logo_lark::before {
  content: '\e75e';
}
.icon-logo_wechat-work::before {
  content: '\e75f';
}
.icon-icon_mail::before {
  content: '\e760';
}
.icon-icon_share::before {
  content: '\e761';
}
.icon-icon_replace_outlined::before {
  content: '\e765';
}
.icon-icon_single_choice::before {
  content: '\e766';
}
.icon-icon_people::before {
  content: '\e767';
}
.icon-icon_style_one::before {
  content: '\e768';
}
.icon-icon_rich_text::before {
  content: '\e769';
}
.icon-icon_multiple_choice::before {
  content: '\e76a';
}
.icon-icon_pound::before {
  content: '\e76b';
}
.icon-icon_calendar_dot::before {
  content: '\e76c';
}
.icon-icon_tag::before {
  content: '\e76d';
}
.icon-icon_radio::before {
  content: '\e76f';
}
.icon-icon_input::before {
  content: '\e770';
}
.icon-icon_feedback_outlined::before {
  content: '\e773';
}
.icon-icon_done_outlined::before {
  content: '\e774';
}
.icon-icon_click::before {
  content: '\e697';
}
.icon-icon_text::before {
  content: '\e775';
}
.icon-icon_share1::before {
  content: '\e776';
}
.icon-icon_chart_graph::before {
  content: '\e777';
}
.icon-icon_reply::before {
  content: '\e778';
}
.icon-icon_comment_collapse_text_input::before {
  content: '\e779';
}
.icon-icon_comment_expand_text_input::before {
  content: '\e77a';
}
.icon-icon_thumbsup_outlined::before {
  content: '\e77b';
}
.icon-icon-product-forum_outlined::before {
  content: '\e77c';
}
.icon-icon_send_colorful::before {
  content: '\e785';
}
.icon-icon_file-add_outlined::before {
  content: '\e78a';
}
.icon-icon_text-wrap-overflow::before {
  content: '\e78f';
}
