<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestCaseReviewTestCaseMapper">
    <select id="getTestCaseWithNodeInfo" resultType="io.metersphere.base.domain.TestCase">
        select DISTINCT tc.project_id, tc.node_id
        from test_case_review_test_case tcrtc
                 join test_case tc on tcrtc.case_id = tc.id
        where tcrtc.review_id = #{reviewId}
    </select>
    <select id="getCaseStatusByReviewIds" resultType="io.metersphere.base.domain.TestCaseReviewTestCase">
        select tcrtc.id, tcrtc.status, tcrtc.review_id
        from test_case_review_test_case tcrtc
        where tcrtc.is_del = 0 and tcrtc.review_id in
        <foreach collection="reviewIds" item="reviewId" separator="," open="(" close=")">
            #{reviewId}
        </foreach>
    </select>
    <select id="selectForRuleChange" resultType="io.metersphere.base.domain.TestCaseReviewTestCase">
        select id, case_id, status, review_id
        from test_case_review_test_case
        where review_id = #{reviewId} and (status = 'Pass' or status = 'UnPass' or status = 'Underway');
    </select>
    <select id="selectForReReview" resultType="io.metersphere.base.domain.TestCaseReviewTestCase">
        select id, case_id, status, review_id
        from test_case_review_test_case
        where case_id = #{caseId} and (status = 'Pass' or status = 'UnPass');
    </select>
</mapper>
