<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestPlanScenarioCaseMapper">
    <select id="selectLegalDataByTestPlanId" resultType="io.metersphere.plan.dto.TestPlanApiScenarioInfoDTO">
        SELECT tpas.id,
               tpas.api_scenario_id,
               tpas.environment,
               tpas.environment_type,
               tpas.environment_group_id,
               apis.project_id
        FROM test_plan_api_scenario tpas
                 INNER JOIN api_scenario apis ON tpas.api_scenario_id = apis.id
        WHERE (apis.`status` IS NULL OR apis.`status` != 'Trash')
          AND tpas.test_plan_id = #{0}
        ORDER BY tpas.`order` DESC;
    </select>

    <select id="selectLegalUiDataByTestPlanId" resultType="io.metersphere.plan.dto.TestPlanApiScenarioInfoDTO">
        SELECT tpas.id,
               tpas.ui_scenario_id,
               tpas.environment,
               tpas.environment_type,
               tpas.environment_group_id,
               apis.project_id
        FROM test_plan_ui_scenario tpas
                 INNER JOIN ui_scenario apis ON tpas.ui_scenario_id = apis.id
        WHERE (apis.`status` IS NULL OR apis.`status` != 'Trash')
          AND tpas.test_plan_id = #{0}
        ORDER BY tpas.`order` DESC;
    </select>

    <select id="selectExecResult" resultType="io.metersphere.plan.dto.CaseExecResult">
        SELECT t.api_scenario_id AS id, a.name AS caseName,t.last_result AS execResult
        FROM test_plan_api_scenario t
        INNER JOIN api_scenario a ON t.api_scenario_id = a.id
        WHERE t.test_plan_id = #{testPlanId} AND  t.api_scenario_id in
        <foreach collection="scenarioCaseIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
