<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestPlanApiCaseMapper">
    <select id="selectLegalDataByTestPlanId" resultType="io.metersphere.plan.dto.TestPlanApiCaseInfoDTO">
        SELECT a.project_id, t.*
        FROM test_plan_api_case t
                 INNER JOIN api_test_case a ON t.api_case_id = a.id
        WHERE t.test_plan_id = #{0}
          AND (a.status IS NULL OR a.status != 'Trash')
        ORDER BY t.`order` DESC
    </select>

    <select id="selectExecResult" resultType="io.metersphere.plan.dto.CaseExecResult">
        SELECT t.api_case_id AS id,a.name AS caseName,t.status AS execResult
        FROM test_plan_api_case t
        INNER JOIN api_test_case a ON t.api_case_id = a.id
        WHERE t.test_plan_id = #{testPlanId} AND  t.api_case_id in
        <foreach collection="apiCaseIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
