<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestCaseReviewScenarioCaseMapper">
    <insert id="insertIfNotExists" parameterType="io.metersphere.base.domain.TestPlanApiScenario">
        -- 查询没有数据再插入
        INSERT INTO test_case_review_scenario(id, test_case_review_id, api_scenario_id, create_time, update_time, environment)
        SELECT #{request.id}, #{request.reviewId}, #{request.apiScenarioId}, #{request.createTime}, #{request.updateTime}, #{request.environment}
        FROM DUAL
        WHERE NOT EXISTS(
                SELECT id FROM
                    test_case_review_scenario
                WHERE test_case_review_id = #{request.reviewId} and api_scenario_id = #{request.apiScenarioId}
            )
    </insert>

    <select id="getExecResultByReviewId" resultType="java.lang.String">
        select last_result
        from
            test_case_review_scenario
        where test_case_review_id = #{reviewId}
    </select>
    <select id="getIdsByReviewId" resultType="java.lang.String">
        select id
        from test_case_review_scenario
        where test_case_review_id = #{reviewId}
    </select>

    <select id="getNotRelevanceCaseIds" resultType="java.lang.String">
        select t.id
        from test_case_review_scenario t
        inner join api_scenario c
        on c.id = t.api_scenario_id
        <if test="relevanceProjectIds != null and relevanceProjectIds.size() > 0">
            and c.project_id not in
            <foreach collection="relevanceProjectIds" item="projectId" separator="," open="(" close=")">
                #{projectId}
            </foreach>
        </if>
        where t.test_case_review_id = #{reviewId}
    </select>

</mapper>
