<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiScenarioReferenceIdMapper">
    <select id="selectUrlByProjectId" resultType="io.metersphere.base.domain.ApiScenarioReferenceId">
        SELECT method,url from api_scenario_reference_id WHERE api_scenario_id in (
            SELECT id from api_scenario WHERE project_id = #{0}
        ) AND url IS NOT NULL AND method IS NOT NULL;
    </select>

    <select id="selectByScenarioIds" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        api_scenario_reference_id
        WHERE
        api_scenario_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>