<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiLoadTestMapper">

  <select id="countNeedUpdateApiCase" resultType="java.lang.Integer">
    select COUNT(1) from api_load_test alt
    inner join api_test_case atc
    on alt.type = 'API_CASE'
    and alt.load_test_id = #{loadTestId}
    and alt.api_id = atc.id and alt.api_version &lt; atc.version;
  </select>
  <select id="countNeedUpdateApiScenario" resultType="java.lang.Integer">
    select COUNT(1) from api_load_test alt
    inner join api_scenario
    on alt.type = 'SCENARIO'
    and alt.load_test_id = #{loadTestId}
    and alt.api_id = api_scenario.id and alt.api_version &lt; api_scenario.version;
  </select>
</mapper>
