<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiTagMapper">
    <select id="list" resultType="io.metersphere.base.domain.ApiTag">
        select * from api_tag
        <where>
            <if test="request.name != null">
                and api_tag.name like CONCAT('%', #{request.name},'%')
            </if>
            <if test="request.projectId != null">
                AND api_tag.project_id = #{request.projectId}
            </if>
            <if test="request.id != null">
                AND api_tag.id = #{request.id}
            </if>
            <if test="request.userId != null">
                AND api_tag.user_id = #{request.userId}
            </if>
        </where>
    </select>
</mapper>