<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiExecutionQueueMapper">
    <delete id="delete">
        DELETE from api_execution_queue where id not IN (SELECT t1.queue_id from api_execution_queue_detail t1);
    </delete>
    <select id="findTestPlanReportQueue" resultType="io.metersphere.base.domain.ApiExecutionQueue">
        SELECT
            id,
            report_id
        FROM
            api_execution_queue
        WHERE
            run_mode IN ( 'API_PLAN', 'JENKINS_SCENARIO_PLAN', 'SCHEDULE_SCENARIO_PLAN' )
            AND id NOT IN ( SELECT t1.queue_id FROM api_execution_queue_detail t1 )
            AND report_id NOT IN ( SELECT report_id FROM test_plan_execution_queue );
    </select>

    <select id="findTestPlanRunningReport" resultType="java.lang.String">
      SELECT
        t1.id
      FROM
        test_plan_report t1
      WHERE
        t1.`status` = "Running"
        AND t1.id NOT IN (
        SELECT
            t.report_id
        FROM
            api_execution_queue t
        WHERE
            t.report_id IS NOT NULL
        )
        AND t1.id NOT IN (SELECT report_id FROM test_plan_execution_queue );
    </select>
</mapper>