<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiTestReportMapper">

    <resultMap id="BaseResultMap" type="io.metersphere.api.dto.APIReportResult"
               extends="io.metersphere.base.mapper.ApiTestReportMapper.BaseResultMap">
        <result column="project_name" property="projectName"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT t.name, t.description,
        r.id, r.test_id, r.create_time, r.update_time, r.status,
        project.name AS project_name
        FROM api_test_report r JOIN api_test t ON r.test_id = t.id
        JOIN project ON project.id = t.project_id
        <where>
            <if test="request.name != null">
                AND r.name like CONCAT('%', #{request.name},'%')
            </if>
            <if test="request.projectId != null">
                AND project.id = #{request.projectId}
            </if>
            <if test="request.workspaceId != null">
                AND project.workspace_id = #{request.workspaceId,jdbcType=VARCHAR}
            </if>
        </where>
        <if test="request.recent">
            ORDER BY r.update_time DESC
        </if>
    </select>

    <select id="listByTestId" resultMap="BaseResultMap">
        SELECT t.name, t.description,
        r.id, r.test_id, r.create_time, r.update_time, r.status,
        project.name AS project_name
        FROM api_test_report r JOIN api_test t ON r.test_id = t.id
        JOIN project ON project.id = t.project_id
        <where>
            r.test_id = #{testId}
        </where>
        ORDER BY r.update_time DESC
    </select>

</mapper>