<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiDocumentMapper">
    <select id="findApiDocumentSimpleInfoByRequest" resultType="io.metersphere.api.dto.ApiDocumentSimpleInfoDTO">
        SELECT api.id,api.name FROM Api_definition api
        <where>
            <if test="request.projectId != null">
                api.project_Id = #{request.projectId}
            </if>
            <if test="request.name != null">
                api.project_Id like CONCAT('%', #{request.name},'%')
            </if>
            <if test="request.type != null">
                api.method = #{request.type}
            </if>

            <if test="request.moduleIds != null and request.moduleIds.size() > 0">
                AND api.module_id in
                <foreach collection="request.moduleIds" item="nodeId" separator="," open="(" close=")">
                    #{nodeId}
                </foreach>
            </if>
        </where>
        <if test="request.orderCondition == 'createTimeDesc'">
            ORDER BY api.create_time DESC
        </if>
        <if test="request.orderCondition == 'editTimeAsc'">
            ORDER BY api.update_time
        </if>
        <if test="request.orderCondition == 'editTimeDesc'">
            ORDER BY api.update_time DESC
        </if>
    </select>
</mapper>