<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiScenarioReportResultMapper">
    <select id="selectBaseInfoResultByReportId" resultType="io.metersphere.base.domain.ApiScenarioReportResultWithBLOBs">
        SELECT id,
               resource_id,
               report_id,
               create_time,
               status,
               request_time,
               total_assertions,
               pass_assertions,
               error_code,
               base_info
        FROM api_scenario_report_result
        WHERE report_id = #{0}
    </select>

    <delete id="deleteHisReportResult">
        DELETE from api_scenario_report_result where report_id = #{reportId,jdbcType=VARCHAR} and
        <foreach collection="scenarioIds" item="id" separator="or" open="(" close=")">
            resource_id like CONCAT('%',#{id},'%')
        </foreach>
    </delete>

    <select id="getReportIds" resultType="java.lang.String">
        SELECT t.id FROM api_scenario_report t left JOIN api_scenario t1 on t.scenario_id = t1.id
        where t1.id is not null and t.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectDistinctStatusByReportId" resultType="java.lang.String">
        SELECT DISTINCT status
        FROM api_scenario_report_result
        WHERE report_id = #{0}
    </select>
</mapper>
