<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtEnvGroupProjectMapper">


    <select id="getList" resultType="io.metersphere.dto.EnvironmentGroupProjectDTO">
        select * from environment_group_project where environment_group_id = #{groupId}
    </select>
</mapper>