<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtFunctionalTestMapper">

    <resultMap id="BaseResultMap" type="io.metersphere.dto.FunctionalTestDTO"
               extends="io.metersphere.base.mapper.FucTestMapper.BaseResultMap">
        <result column="project_name" property="projectName"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap" parameterType="io.metersphere.controller.request.testplan.QueryTestPlanRequest">
        select fuc_test.*, project.name as project_name
        from fuc_test
        left join project on fuc_test.project_id = project.id
        <where>
            <if test="request.name != null">
                and fuc_test.name like CONCAT('%', #{request.name},'%')
            </if>
            <if test="request.workspaceId != null">
                AND project.workspace_id = #{request.workspaceId}
            </if>
            <if test="request.projectId != null">
                AND project.id = #{request.projectId}
            </if>
            <if test="request.id != null">
                AND fuc_test.id = #{request.id}
            </if>
        </where>
        <if test="request.recent">
            order by fuc_test.update_time desc
        </if>
    </select>

</mapper>