<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtFileModuleMapper">
    <insert id="insertBatch" parameterType="io.metersphere.base.domain.FileModule">
        insert into file_module (id, project_id, name parent_id, level, create_time, update_time)
        values
        <foreach collection="records" item="emp" separator=",">
            (#{emp.id,jdbcType=VARCHAR}, #{emp.projectId,jdbcType=VARCHAR},#{emp.name,jdbcType=VARCHAR},
            #{emp.parentId,jdbcType=VARCHAR}, #{emp.level,jdbcType=INTEGER}, #{emp.createTime,jdbcType=BIGINT},
            #{emp.updateTime,jdbcType=BIGINT})
        </foreach>
    </insert>

    <select id="getNodeTreeByProjectId" resultType="io.metersphere.metadata.vo.FileModuleVo">
        select
        <include refid="io.metersphere.base.mapper.FileModuleMapper.Base_Column_List"/>
        from file_module
        where file_module.project_id = #{projectId}
        order by file_module.pos asc
    </select>
    <select id="getNameById" resultType="java.lang.String">
        select name from file_module
        where id = #{0}
    </select>

    <update id="updatePos">
        update file_module set pos = #{pos} where id = #{id}
    </update>
</mapper>