<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtIssuesMapper">
    <delete id="deleteIssues">
        delete
        from test_case_issues
        where issues_id = #{issuesId}
          and (resource_id = #{resourceId} or ref_id = #{resourceId})
    </delete>

    <select id="getIssuesByCaseId" resultType="io.metersphere.base.domain.IssuesDao">
        select issues.*
        from issues
        inner join test_case_issues
        on test_case_issues.issues_id = issues.id
        <include refid="queryWhereCondition"/>
        <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.orders"/>
    </select>

    <select id="getIssueForMinder" resultType="io.metersphere.base.domain.IssuesDao">
        select issues.id, issues.title , issues.num , test_case_issues.resource_id, test_case_issues.ref_id, test_case_issues.ref_type
        from issues
        inner join test_case_issues
        on test_case_issues.issues_id = issues.id
        where (issues.platform_status != 'delete' or issues.platform_status is NULL)
        <if test="refType == 'FUNCTIONAL'">
            and test_case_issues.resource_id in
            <foreach collection="caseIds" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
            or test_case_issues.ref_id in
            <foreach collection="caseIds" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="refType == 'PLAN_FUNCTIONAL'">
            and test_case_issues.resource_id in
            <foreach collection="caseIds" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        order by num asc
    </select>

    <sql id="Issue_List_Column">
        issues.id, issues.platform_id, issues.num, ifnull(issues.title, '') as title, issues.project_id, issues.create_time, issues.update_time,
        ifnull(issues.description, '') as description, issues.status, issues.platform, issues.custom_fields, issues.reporter,
        issues.creator,issues.resource_id,issues.platform_status,
        issues.lastmodify
    </sql>

    <select id="getIssues" resultType="io.metersphere.base.domain.IssuesDao">
        select
        <include refid="Issue_List_Column"/>
        <if test="request.projectId != null||request.workspaceId != null">
            , project.name as projectName
        </if>
        from issues
        <if test="request.projectId != null||request.workspaceId != null">
            left join
            project on issues.project_id = project.id
        </if>
        <include refid="queryWhereCondition"/>
        <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.orders"/>
    </select>

    <select id="getPlanIssues" resultType="io.metersphere.base.domain.IssuesDao">
        select
        <include refid="Issue_List_Column"/>
        from issues
        inner join test_case_issues
        on issues.id = test_case_issues.issues_id and test_case_issues.ref_type = 'PLAN_FUNCTIONAL'
        and test_case_issues.resource_id in (
            select id from test_plan_test_case tptc where plan_id = #{request.planId}
        )
        <include refid="queryWhereCondition"/>
        <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.orders"/>
    </select>

    <select id="getNextNum" resultType="io.metersphere.base.domain.Issues">
        SELECT * FROM issues WHERE issues.project_id = #{projectId} ORDER BY num DESC LIMIT 1;
    </select>
    <select id="getCountByStatus" resultType="io.metersphere.base.domain.IssuesDao">
        select count(issues.id) as totalIssueCount, ifnull(issues.status,issues.platform_status) as status from issues
        left join project on issues.project_id = project.id
        <include refid="queryWhereCondition"/>
        group by status;
    </select>
    <select id="getRelateIssues" resultType="io.metersphere.base.domain.IssuesDao">
        select issues.id, issues.num, issues.title, issues.project_id, issues.create_time, issues.update_time,
        issues.description, issues.status, issues.platform, issues.custom_fields,test_case_issues.resource_id,issues.platform_status,
        issues.lastmodify
        from issues
        left join
        test_case_issues on issues.id = test_case_issues.issues_id and issues.project_id = #{request.projectId}
        <include refid="queryWhereCondition"/>
        <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.orders"/>
        group by issues.id
    </select>
    <select id="getIssueForSync" resultType="io.metersphere.base.domain.IssuesDao">
        select id,platform, platform_id
        from issues
        where project_id = #{projectId} and platform != 'Local' and (platform_status != 'delete' or platform_status is null);
    </select>
    <select id="selectForPlanReport" resultType="io.metersphere.track.dto.PlanReportIssueDTO">
        select id,status,platform_status,platform from issues where resource_id = #{planId} and ( platform_status != 'delete' or platform_status is null);
    </select>
    <select id="selectIdNotInUuIds" resultType="java.lang.String">
        select id from issues
        where project_id = #{projectId} and platform = #{platform} and platform_id not in
        <foreach collection="platformIds" item="value" separator="," open="(" close=")">
            #{value}
        </foreach>
    </select>
    <select id="getForCompatibleCustomField" resultType="io.metersphere.track.dto.CustomFieldResourceCompatibleDTO">
        select id, custom_fields
        from issues
        where project_id = #{projectId}
        limit #{offset},#{pageSize}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String"  resultType="io.metersphere.base.domain.IssuesDao">
        select
        <include refid="Issue_List_Column" />
        from issues
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <sql id="queryWhereCondition">
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                    <property name="objectKey" value="request.combine.tags"/>
                </include>
            </if>
            <if test="request.name != null">
                and (
                      issues.title LIKE CONCAT('%', #{request.name}, '%')
                      or issues.num LIKE CONCAT('%', #{request.name}, '%')
                    )
            </if>
            <if test="request.workspaceId != null">
                AND project.workspace_id = #{request.workspaceId}
            </if>
            <if test="request.projectId != null and request.projectId != ''">
                and issues.project_id = #{request.projectId}
            </if>

            <if test="request.resourceId != null and request.resourceId != ''">
                and issues.resource_id = #{request.resourceId}
            </if>

            <if test="request.caseResourceId != null and request.caseResourceId != ''">
                <if test="request.refType == 'FUNCTIONAL'">
                    and (test_case_issues.resource_id = #{request.caseResourceId} or test_case_issues.ref_id = #{request.caseResourceId})
                </if>
                <if test="request.refType == 'PLAN_FUNCTIONAL'">
                    and test_case_issues.resource_id = #{request.caseResourceId} and test_case_issues.ref_type
                    ='PLAN_FUNCTIONAL'
                </if>
            </if>

            <if test="request.platform != null and request.platform != ''">
                and issues.platform = #{request.platform}
            </if>
            <if test="request.id != null and request.id != ''">
                and issues.id = #{request.id}
            </if>
            <if test="request.notInIds != null and request.notInIds.size() > 0">
                and issues.id not in
                <foreach collection="request.notInIds" item="value" separator="," open="(" close=")">
                    #{value}
                </foreach>
            </if>

            <if test="request.filters != null and request.filters.size() > 0">
                <foreach collection="request.filters.entrySet()" index="key" item="values">
                    <if test="values != null and values.size() > 0">
                        <choose>
                            <when test="key=='status'">
                                and issues.status in
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                            <when test="key == 'platform'">
                                AND issues.platform IN
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                            <when test="key == 'creator'">
                                AND issues.creator IN
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                        </choose>
                    </if>
                </foreach>
            </if>
            and (issues.platform_status != 'delete' or issues.platform_status is NULL)
        </where>
    </sql>
    <sql id="combine">

        <if test="${condition}.creator != null">
            and issues.creator
            <include refid="condition">
                <property name="object" value="${condition}.creator"/>
            </include>
        </if>
        <if test="${condition}.followPeople != null">
            and issues.id in (
            select issue_id from issue_follow where follow_id
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.followPeople"/>
            </include>
            )
        </if>
    </sql>
    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "current user"'>
                = '${@io.metersphere.commons.utils.SessionUtils@getUserId()}'
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>
</mapper>
