<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtLoadTestMapper">
    <resultMap id="BaseResultMap" type="io.metersphere.dto.LoadTestDTO"
               extends="io.metersphere.base.mapper.LoadTestMapper.BaseResultMap">
        <result column="project_name" property="projectName"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <sql id="condition">
        <include refid="io.metersphere.base.mapper.ext.ExtApiTestMapper.condition"/>
    </sql>

    <sql id="combine">
        <if test='${condition}.name != null and (${name} == null or ${name} == "")'>
            AND load_test.name
            <include refid="condition">
                <property name="object" value="${condition}.name"/>
            </include>
        </if>
        <if test="${condition}.updateTime != null">
            AND load_test.update_time
            <include refid="condition">
                <property name="object" value="${condition}.updateTime"/>
            </include>
        </if>
        <if test="${condition}.projectName != null">
            AND project.name
            <include refid="condition">
                <property name="object" value="${condition}.projectName"/>
            </include>
        </if>
        <if test="${condition}.createTime != null">
            AND load_test.create_time
            <include refid="condition">
                <property name="object" value="${condition}.createTime"/>
            </include>
        </if>
        <if test="${condition}.status != null">
            AND load_test.status
            <include refid="condition">
                <property name="object" value="${condition}.status"/>
            </include>
        </if>
        <if test="${condition}.creator != null">
            AND load_test.user_id
            <include refid="condition">
                <property name="object" value="${condition}.creator"/>
            </include>
        </if>
    </sql>

    <select id="list" resultMap="BaseResultMap"
            parameterType="io.metersphere.performance.request.QueryTestPlanRequest">
        SELECT load_test.*, project.name AS project_name, user.name AS user_name
        FROM load_test
                     LEFT JOIN project ON load_test.project_id = project.id
                     LEFT JOIN user ON load_test.user_id = user.id
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                </include>
            </if>
            <if test="request.name != null">
                and load_test.name LIKE CONCAT('%', #{request.name}, '%')
            </if>
            <if test="request.userId != null">
                AND load_test.user_id = #{request.userId}
            </if>
            <if test="request.workspaceId != null">
                AND project.workspace_id = #{request.workspaceId}
            </if>
            <if test="request.projectId != null">
                AND project.id = #{request.projectId}
            </if>
            <if test="request.id != null">
                AND load_test.id = #{request.id}
            </if>
            <if test="request.filters != null and request.filters.size() > 0">
                <foreach collection="request.filters.entrySet()" index="key" item="values">
                    <if test="values != null and values.size() > 0">
                        <choose>
                            <when test="key == 'status'">
                                AND load_test.status IN
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                            <when test="key == 'user_id'">
                                AND load_test.user_id IN
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                            <when test="key == 'project_id'">
                                AND load_test.project_id IN
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                        </choose>
                    </if>
                </foreach>
            </if>
        </where>
        <if test="request.orders != null and request.orders.size() > 0">
            ORDER BY
            <foreach collection="request.orders" separator="," item="order">
                <if test="order.name == 'user_name'">
                    user_name ${order.type}
                </if>
                <if test="order.name != 'user_name'">
                    load_test.${order.name} ${order.type}
                </if>
            </foreach>
        </if>
    </select>
    <select id="getLoadTestByProjectId" resultType="io.metersphere.base.domain.LoadTest">
        SELECT id, name
        FROM load_test
        WHERE project_id = #{projectId}
    </select>

    <select id="checkLoadTestOwner" resultType="int">
        SELECT COUNT(1)
        FROM load_test
                     LEFT JOIN project ON load_test.project_id = project.id
        <where>
            <if test="testId != null">
                and load_test.id = #{testId}
            </if>
            <if test="projectIds != null and projectIds.size() > 0">
                AND project_id IN
                <foreach collection="projectIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getNextNum" resultType="io.metersphere.base.domain.LoadTest">
        select * from load_test lt where lt.project_id = #{projectId} ORDER BY num DESC LIMIT 1;
    </select>

    <select id="getProjectFiles" resultType="io.metersphere.base.domain.FileMetadata">
        SELECT file_metadata.*
        FROM file_metadata
        WHERE file_metadata.type IN
        <foreach collection="loadTypes" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND project_id = #{projectId,jdbcType=VARCHAR}
        <if test="request.name!=null">
            AND file_metadata.name LIKE CONCAT('%', #{request.name}, '%')
        </if>
        order by update_time DESC
    </select>
</mapper>