<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtLoadTestMapper">

    <resultMap id="BaseResultMap" type="io.metersphere.dto.LoadTestDTO"
               extends="io.metersphere.base.mapper.LoadTestMapper.BaseResultMap">
        <result column="project_name" property="projectName"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select load_test.*, project.name as project_name
        from load_test
        left join project on load_test.project_id = project.id
    </select>

</mapper>