<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtOrganizationMapper">

    <select id="checkSourceRole" resultType="Integer">
        select count(id)
          from user_group ug
         where ug.user_id = #{userId}
           and ug.source_id = #{sourceId}
           and ug.group_id = #{groupId}
    </select>


    <select id="findIdAndNameByOrganizationId" resultType="io.metersphere.dto.OrganizationMemberDTO">
        select id,name from Organization
        <where>
            <if test="organizationId != 'All'">
                AND id = #{organizationId}
            </if>
        </where>
    </select>
</mapper>