<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestCaseMapper">

    <sql id="combine">
        <if test='${condition}.name != null and (${name} == null or ${name} == "")'>
            and test_case.name
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.name"/>
            </include>
        </if>
        <if test="${condition}.module != null">
            and test_case.node_path
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.module"/>
            </include>
        </if>
        <if test="${condition}.priority != null">
            and test_case.priority
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.priority"/>
            </include>
        </if>
        <if test="${condition}.createTime != null">
            and test_case.create_time
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.createTime"/>
            </include>
        </if>
        <if test="${condition}.type != null">
            and test_case.type
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.type"/>
            </include>
        </if>
        <if test="${condition}.updateTime != null">
            and test_case.update_time
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.updateTime"/>
            </include>
        </if>
        <if test="${condition}.method != null">
            and test_case.method
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.method"/>
            </include>
        </if>
        <if test="${condition}.creator != null">
            and test_case.maintainer
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.creator"/>
            </include>
        </if>
        <if test="${condition}.tags != null">
            and test_case.tags
            <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.condition">
                <property name="object" value="${condition}.tags"/>
            </include>
        </if>

    </sql>

    <select id="getTestCaseByNotInReview" resultType="io.metersphere.base.domain.TestCase">
        select test_case.id, test_case.name, test_case.priority, test_case.type, test_case.review_status from test_case
        as test_case
        left join test_case_review_test_case as T2 on test_case.id=T2.case_id and T2.review_id =#{request.reviewId}
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                </include>
            </if>
            and T2.case_id is null
            <if test="request.name != null">
                and test_case.name like CONCAT('%', #{request.name},'%')
            </if>

            <if test="request.projectId != null">
                AND test_case.project_id = #{request.projectId}
            </if>
            <if test="request.nodeIds != null and request.nodeIds.size() > 0">
                AND test_case.node_id IN
                <foreach collection="request.nodeIds" open="(" close=")" separator="," item="nodeId">
                    #{nodeId}
                </foreach>
            </if>
            <include refid="filters"/>
        </where>
        ORDER BY test_case.update_time DESC
    </select>

    <select id="getTestCaseByNotInPlan" resultType="io.metersphere.base.domain.TestCase">
        select test_case.id, test_case.name, test_case.priority, test_case.type, test_case.review_status from test_case
        as test_case
        left join test_plan_test_case as T2 on test_case.id=T2.case_id and T2.plan_id =#{request.planId}
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                </include>
            </if>
            and T2.case_id is null
            <if test="request.name != null">
                and test_case.name like CONCAT('%', #{request.name},'%')
            </if>

            <if test="request.projectId != null">
                AND test_case.project_id = #{request.projectId}
            </if>
            <if test="request.nodeIds != null and request.nodeIds.size() > 0">
                AND test_case.node_id IN
                <foreach collection="request.nodeIds" open="(" close=")" separator="," item="nodeId">
                    #{nodeId}
                </foreach>
            </if>
            <include refid="filters"/>
        </where>
        ORDER BY test_case.update_time DESC
    </select>

    <select id="getTestCaseNames" resultType="io.metersphere.base.domain.TestCase">
        select test_case.id, test_case.name, test_case.priority, test_case.type, test_case.review_status
        from test_case
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                </include>
            </if>
            <if test="request.name != null">
                and test_case.name like CONCAT('%', #{request.name},'%')
            </if>
            <if test="request.projectId != null">
                AND test_case.project_id = #{request.projectId}
            </if>
            <if test="request.nodeIds != null and request.nodeIds.size() > 0">
                AND test_case.node_id IN
                <foreach collection="request.nodeIds" open="(" close=")" separator="," item="nodeId">
                    #{nodeId}
                </foreach>
            </if>
            <include refid="filters"/>
        </where>
        ORDER BY test_case.update_time DESC
    </select>

    <select id="list" resultType="io.metersphere.track.dto.TestCaseDTO">
        select
        <if test="request.selectFields != null and request.selectFields.size() > 0">
            <foreach collection="request.selectFields" item="field" separator=",">
                ${field}
            </foreach>
        </if>
        <if test="request.selectFields == null or request.selectFields.size() == 0">
            <include refid="io.metersphere.base.mapper.TestCaseMapper.Base_Column_List"/>
        </if>
        from test_case
        <include refid="queryWhereCondition"/>
        <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.orders"/>
    </select>
    <select id="listByMethod" resultType="io.metersphere.track.dto.TestCaseDTO">
        SELECT id,name,project_id,"api" as type from api_test
        <where>
            <if test="request.projectId!=null">
                and project_id=#{request.projectId}
            </if>
        </where>
        UNION ALL
        select id,name,project_id,"perform" as type from load_test
        <where>
            <if test="request.projectId!=null">
                and project_id= #{request.projectId}
            </if>
        </where>
        UNION ALL
        select id,name,project_id,"scenario" as type from api_scenario

        <where>
            <if test="request.projectId!=null">
                and project_id= #{request.projectId}
            </if>
        </where>
        and api_scenario.status!='Trash'
        UNION ALL
        select b.id,b.name,b.project_id,"definition" as type from api_test_case b
        inner join
        api_definition a
        on
        b.api_definition_id = a.id
        and a.status != 'Trash'
        <where>
            <if test="request.projectId!=null">
                and b.project_id= #{request.projectId}
            </if>
        </where>
    </select>
    <select id="listByTestCaseIds" resultType="io.metersphere.track.dto.TestCaseDTO">
        select test_case.*,api_test.name as apiName,load_test.name AS performName from test_case left join api_test on
        test_case.test_id=api_test.id left join load_test on test_case.test_id=load_test.id
        <where>
            <if test="request.ids!=null and request.ids.size() > 0">
                and test_case.id in
                <foreach collection="request.ids" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <if test="request.projectId!=null">
                and test_case.project_id=#{request.projectId}
            </if>
        </where>
        <if test="request.orders != null and request.orders.size() > 0">
            order by
            <foreach collection="request.orders" separator="," item="order">
                ${order.name} ${order.type}
            </foreach>
        </if>
    </select>

    <select id="getMaxNumByProjectId" resultType="io.metersphere.base.domain.TestCase">
        SELECT *
        FROM test_case
        WHERE test_case.project_id = #{projectId}
        ORDER BY num DESC
        LIMIT 1;
    </select>

    <select id="checkIsHave" resultType="int">
        SELECT COUNT(1)
        FROM test_case, project
        WHERE test_case.project_id = project.id
        <if test="workspaceIds != null and workspaceIds.size() > 0">
            AND project.workspace_id IN
            <foreach collection="workspaceIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        AND test_case.id = #{caseId}
    </select>

    <select id="selectIds" resultType="java.lang.String">
        select
        id
        from test_case
        <include refid="queryWhereCondition"/>
        <include refid="io.metersphere.base.mapper.ext.ExtBaseMapper.orders"/>
    </select>

    <sql id="filters">
        <if test="request.filters != null and request.filters.size() > 0">
            <foreach collection="request.filters.entrySet()" index="key" item="values">
                <if test="values != null and values.size() > 0">
                    <choose>
                        <when test="key=='priority'">
                            and test_case.priority in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='type'">
                            and test_case.type in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='status'">
                            and test_case.review_status in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='method'">
                            and test_case.method in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                    </choose>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="queryWhereCondition">
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                </include>
            </if>
            <if test="request.name != null">
                and (test_case.name like CONCAT('%', #{request.name},'%')
                or test_case.num like CONCAT('%', #{request.name},'%')
                or test_case.tags like CONCAT('%', #{request.name},'%'))
            </if>
            <if test="request.nodeIds != null and request.nodeIds.size() > 0">
                and test_case.node_id in
                <foreach collection="request.nodeIds" item="nodeId" separator="," open="(" close=")">
                    #{nodeId}
                </foreach>
            </if>
            <if test="request.projectId != null">
                and test_case.project_id = #{request.projectId}
            </if>
            <include refid="filters"/>
        </where>
    </sql>

</mapper>