<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestCaseCountMapper">

    <select id="getFunctionCaseCount" resultType="io.metersphere.reportstatistics.dto.TestCaseCountChartResult">
        select
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            ${testCaseGroupColumn} AS groupName,
        </if>
        count(id) AS countNum
        FROM test_case
        <where>
            project_id = #{projectId}
            AND `status` != 'Trash'
            <if test="startTime > 0">
                AND create_time &gt;= #{startTime}
            </if>
            <if test="endTime > 0">
                AND create_time &lt;=  #{endTime}
            </if>
            <if test="filterSearchList != null and filterSearchList.size() > 0">
                AND
                <trim prefix="(" prefixOverrides="AND|OR" suffix=")">
                    <foreach collection="filterSearchList.entrySet()" index="key" item="values">
                        <if test="values != null and values.size() > 0">
                            <choose>
                                <when test="key=='caselevel'">
                                    ${filterType} priority in
                                    <foreach collection="values" item="value" separator="," open="(" close=")">
                                        #{value}
                                    </foreach>
                                </when>
                                <when test="key=='creator'">
                                    ${filterType} create_user in
                                    <foreach collection="values" item="value" separator="," open="(" close=")">
                                        #{value}
                                    </foreach>
                                </when>
                                <when test="key=='maintainer'">
                                    ${filterType} maintainer in
                                    <foreach collection="values" item="value" separator="," open="(" close=")">
                                        #{value}
                                    </foreach>
                                </when>
                                <when test="key=='casestatus'">
                                    ${filterType} UPPER(status) in
                                    <foreach collection="values" item="value" separator="," open="(" close=")">
                                        #{value}
                                    </foreach>
                                </when>
                            </choose>
                        </if>
                    </foreach>
                </trim>
            </if>
        </where>
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            GROUP BY ${testCaseGroupColumn}
        </if>
    </select>

    <select id="getApiCaseCount" resultType="io.metersphere.reportstatistics.dto.TestCaseCountChartResult">
        select
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            ${apiCaseGroupColumn} AS groupName,
        </if>
        count(id) AS countNum
        FROM api_test_case
        <where>
        project_id = #{projectId}
        AND `status` != 'Trash'
        <if test="startTime > 0">
            AND (create_time &gt;= #{startTime})
        </if>
        <if test="endTime > 0">
            AND ( create_time &lt;=  #{endTime})
        </if>
        <if test="apiFilterSearchList != null and apiFilterSearchList.size() > 0">
            AND
            <trim prefix="(" prefixOverrides="AND|OR" suffix=")">
            <foreach collection="apiFilterSearchList.entrySet()" index="key" item="values">
                <if test="values != null and values.size() > 0">
                    <choose>
                        <when test="key=='caselevel'">
                            ${filterType} priority in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='creator'">
                            ${filterType} create_user_id in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='casestatus'">
                            ${filterType}
                            (UPPER(status) in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                            <if test="values.contains('RUNNING')">
                                OR status IS NULL
                            </if>
                            )
                        </when>
                    </choose>
                </if>
            </foreach>
            </trim>
        </if>
        </where>
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            GROUP BY ${apiCaseGroupColumn}
        </if>
    </select>

    <select id="getScenarioCaseCount" resultType="io.metersphere.reportstatistics.dto.TestCaseCountChartResult">
        select
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            ${scenarioCaseGroupColumn} AS groupName,
        </if>
        count(id) AS countNum
        FROM api_scenario
        <where>
        project_id = #{projectId}
        AND `status` != 'Trash'
        <if test="startTime > 0">
            AND (create_time &gt;= #{startTime})
        </if>
        <if test="endTime > 0">
            AND ( create_time &lt;=  #{endTime})
        </if>
        <if test="filterSearchList != null and filterSearchList.size() > 0">
            AND
            <trim prefix="(" prefixOverrides="AND|OR" suffix=")">
            <foreach collection="filterSearchList.entrySet()" index="key" item="values">
                <if test="values != null and values.size() > 0">
                    <choose>
                        <when test="key=='caselevel'">
                            ${filterType} level in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='creator'">
                            ${filterType} create_user in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='maintainer'">
                            ${filterType} principal in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                        <when test="key=='casestatus'">
                            ${filterType} UPPER(status) in
                            <foreach collection="values" item="value" separator="," open="(" close=")">
                                #{value}
                            </foreach>
                        </when>
                    </choose>
                </if>
            </foreach>
            </trim>
        </if>
        </where>
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            GROUP BY ${scenarioCaseGroupColumn}
        </if>
    </select>

    <select id="getLoadCaseCount" resultType="io.metersphere.reportstatistics.dto.TestCaseCountChartResult">
        select
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            ${loadCaseGroupColumn} AS groupName,
        </if>
        count(id) AS countNum
        FROM load_test
        <where>
        project_id = #{projectId}
        <if test="startTime > 0">
            AND (create_time &gt;= #{startTime})
        </if>
        <if test="endTime > 0">
            AND ( create_time &lt;=  #{endTime})
        </if>
        <if test="loadFilterSearchList != null and loadFilterSearchList.size() > 0">
            AND
            <trim prefix="(" prefixOverrides="AND|OR" suffix=")">
                <foreach collection="loadFilterSearchList.entrySet()" index="key" item="values">
                    <if test="values != null and values.size() > 0">
                        <choose>
                            <when test="key=='creator'">
                                ${filterType} create_user in
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                            <when test="key=='casestatus'">
                                ${filterType} UPPER(status) in
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                        </choose>
                    </if>
                </foreach>
            </trim>
        </if>
        </where>
        <if test="testCaseGroupColumn != null and testCaseGroupColumn != ''">
            GROUP BY ${loadCaseGroupColumn}
        </if>
    </select>

</mapper>