<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestReourcePoolMapper">

    <resultMap id="TestReourcePoolResultMap" type="io.metersphere.dto.TestResourcePoolDTO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>

        <collection property="resources" column="id" ofType="io.metersphere.base.domain.TestResource"
                    select="io.metersphere.base.mapper.ext.ExtTestReourcePoolMapper.listResourcesByPoolId">

        </collection>
    </resultMap>

    <select id="listResourcePools" resultMap="TestReourcePoolResultMap">
        SELECT * FROM test_resource_pool
        <where>
            <if test="request.name != null">
                and test_resource_pool.name like CONCAT('%', #{request.name},'%')
            </if>
        </where>
    </select>

    <select id="listResourcesByPoolId" resultType="io.metersphere.base.domain.TestResource">
        SELECT * FROM test_resource WHERE test_resource_pool_id = #{id}
    </select>

</mapper>