<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestCaseReviewLoadMapper">
    <update id="updateCaseStatus">
        update test_case_review_load tplc
        set status = #{status}
        where tplc.load_report_id = #{reportId}
    </update>

    <select id="selectIdsNotInPlan" resultType="java.lang.String">
        select load_test.id
        from load_test
        where load_test.project_id = #{projectId}
          and load_test.id not in (
            select tplc.load_case_id from test_case_review_load tplc where tplc.test_case_review_id = #{reviewId}
        )
    </select>
    <select id="selectTestReviewLoadCaseList" resultType="io.metersphere.dto.TestReviewLoadCaseDTO">
        select tplc.id,
        u.name as userName,
        tplc.create_time,
        tplc.update_time,
        tplc.test_case_review_id,
        tplc.load_case_id,
        lt.status,
        lt.num,
        tplc.status as caseStatus,
        lt.name as caseName,
        tplc.load_report_id,
        p.name as projectName
        from test_case_review_load tplc
        inner join load_test lt on tplc.load_case_id = lt.id
        inner join user u on lt.user_id = u.id
        inner join project p on lt.project_id = p.id
        <where>
            tplc.test_case_review_id = #{request.testCaseReviewId}
            <if test="request.projectId != null and request.projectId != ''">
                and lt.project_id = #{request.projectId}
            </if>
            <if test="request.name != null">
                and (lt.name like CONCAT('%', #{request.name},'%') or lt.num like CONCAT('%', #{request.name},'%'))
            </if>
            <if test="request.status != null">
                and tplc.status like CONCAT('%', #{request.status},'%')
            </if>
            <if test="request.filters != null and request.filters.size() > 0">
                <foreach collection="request.filters.entrySet()" index="key" item="values">
                    <if test="values != null and values.size() > 0">
                        <choose>
                            <when test="key=='status'">
                                and lt.status in
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                        </choose>
                    </if>
                </foreach>
            </if>
        </where>
        <if test="request.orders != null and request.orders.size() > 0">
            order by
            <foreach collection="request.orders" separator="," item="order">
                tplc.${order.name} ${order.type}
            </foreach>
        </if>
    </select>
    <select id="getStatusByreviewId" resultType="java.lang.String">
        select status from test_case_review_load tplc where tplc.test_case_review_id = #{reviewId}
    </select>
</mapper>