<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtTestPlanUiScenarioMapper">


    <select id="selectPlanByIdsAndStatusIsNotTrash" resultType="io.metersphere.base.domain.TestPlanUiScenario">
        SELECT
        plan.*
        FROM
        test_plan_ui_scenario plan
        INNER JOIN ui_scenario ui ON plan.ui_scenario_id = ui.id
        WHERE
        (ui.`status` is null OR ui.`status` != 'Trash') AND plan.test_plan_id IN
        <foreach collection="ids" item="v" separator="," open="(" close=")">
            #{v}
        </foreach>

    </select>
</mapper>