<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtWorkspaceMapper">

    <select id="getWorkspaces" resultType="io.metersphere.dto.WorkspaceDTO">
        select w.id, w.name, w.description
          from workspace w
          <where>
              <if test="request.name != null and request.name != ''">
                  AND w.name LIKE #{request.name,jdbcType=VARCHAR}
              </if>
          </where>
        order by w.update_time desc
    </select>

    <select id="getWorkspaceByUserId" resultType="io.metersphere.base.domain.Workspace">
        SELECT * from workspace where workspace.id in (SELECT user_group.source_id from user_group where user_group.user_id = #{userId})
    </select>
    <select id="getWorkspaceIds" resultType="java.lang.String">
        select id from workspace;
    </select>
</mapper>
