<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.functional.mapper.ExtCaseReviewFunctionalCaseMapper">

    <select id="list" resultType="io.metersphere.functional.dto.FunctionalCaseReviewDTO">
        SELECT
            cr.num as reviewNum, cr.name as reviewName, cr.status as reviewStatus, cf.status, cf.update_time
        FROM
        case_review_functional_case cf left join case_review cr on  cf.review_id = cr.id
        where cf.case_id = #{request.caseId}
        <if test="request.keyword != null and request.keyword != ''">
            and (
            cr.num like concat('%', #{request.keyword},'%')
            or cr.name like concat('%', #{request.keyword},'%')
            )
        </if>
    </select>

</mapper>