<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.functional.mapper.ExtFunctionalCaseMapper">

    <select id="getMaxNumByProjectId" resultType="io.metersphere.functional.domain.FunctionalCase">
        SELECT
            num
        FROM
            functional_case
        WHERE
            project_id = #{projectId}
        ORDER BY
            num DESC
            LIMIT 1;
    </select>


    <select id="getPos" resultType="java.lang.Long">
        SELECT
            pos
        FROM
            functional_case
        WHERE
            project_id = #{projectId}
        ORDER BY
            pos DESC
            LIMIT 1;
    </select>


    <update id="updateFunctionalCaseModule">
        UPDATE functional_case
        SET module_id = #{moduleId}
        WHERE
            ref_id = #{refId}
    </update>


    <select id="getFunctionalCaseByRefId" resultType="io.metersphere.functional.dto.FunctionalCaseVersionDTO">
        SELECT
            id,
            NAME,
            version_id
        FROM
            functional_case
        WHERE
            ref_id = #{refId}
    </select>
</mapper>