<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.functional.mapper.ExtFunctionalCaseDemandMapper">

    <select id="selectGroupByKeyword" resultType="io.metersphere.functional.dto.FunctionalDemandDTO">
        SELECT
        *
        FROM functional_case_demand
        WHERE functional_case_demand.case_id = #{caseId}
          AND functional_case_demand.parent = 'NONE'
        <if test="keyword != null and keyword != ''">
            AND (
            functional_case_demand.demand_id = #{keyword} OR
            (functional_case_demand.demand_name LIKE CONCAT('%', #{keyword}, '%'))
            )
        </if>
        GROUP BY functional_case_demand.demand_platform
    </select>

    <select id="selectByKeyword" resultType="io.metersphere.functional.domain.FunctionalCaseDemand">
        SELECT
        *
        FROM functional_case_demand
        WHERE functional_case_demand.case_id = #{caseId}
        <if test="keyword != null and keyword != ''">
            AND (
            functional_case_demand.demand_id = #{keyword} OR
            (functional_case_demand.demand_name LIKE CONCAT('%', #{keyword}, '%'))
            )
        </if>
        <if test="platforms != null and platforms.size() > 0">
            and functional_case_demand.demand_platform in
            <foreach collection="platforms" item="platform" open="(" separator="," close=")">
                #{platform}
            </foreach>
        </if>
        <if test="ids != null and ids.size() > 0">
            and functional_case_demand.id not in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        ORDER BY functional_case_demand.update_time DESC
    </select>

</mapper>