<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.plan.mapper.ExtTestPlanReportBugMapper">

    <select id="getPlanBugs" resultType="io.metersphere.plan.domain.TestPlanReportBug">
        select distinct brc.bug_id as bugId, b.num as bugNum, b.title as bugTitle, b.status bugStatus,
                        b.handle_user bugHandleUser, count(brc.id) bugCaseCount
        from bug_relation_case brc join bug b on brc.bug_id = b.id
        where brc.test_plan_id = #{id} and b.deleted = false
        and brc.id in
        <foreach collection="ids" item="bugId" open="(" close=")" separator=",">
            #{bugId}
        </foreach>
        group by brc.bug_id
    </select>

    <select id="getPlanBugsId" resultType="java.lang.String">
        select brc.id
        from bug_relation_case brc
                 join bug b on brc.bug_id = b.id
        where brc.test_plan_id = #{id}
          and b.deleted = false
    </select>

    <select id="list" resultType="io.metersphere.bug.dto.response.BugDTO">
        select distinct tprb.bug_id as id, tprb.bug_num as num, tprb.bug_title as title, tprb.bug_status as status, tprb.bug_status as statusName, tprb.bug_handle_user as handleUserName,
            sum(ifnull(tprb.bug_case_count, 0)) as relationCaseCount
        from test_plan_report_bug tprb
        where tprb.test_plan_report_id in
        <foreach collection="request.detailReportIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="request.keyword != null and request.keyword != ''">
            and (tprb.bug_num like concat('%', #{request.keyword}, '%') or tprb.bug_title like concat('%', #{request.keyword}, '%'))
        </if>
        group by tprb.bug_id, tprb.bug_num
    </select>

    <select id="countBug" resultType="io.metersphere.plan.dto.ReportBugSumDTO">
        SELECT
            'FUNCTIONAL' AS caseType,
            count( DISTINCT brc.bug_id ) AS bugCount
        FROM
            bug_relation_case brc
                INNER JOIN test_plan_report_function_case tprfc ON brc.test_plan_case_id = tprfc.test_plan_function_case_id
        WHERE
            tprfc.test_plan_report_id = #{id} UNION
        SELECT
            'API' AS caseType,
            count( DISTINCT brc.bug_id ) AS bugCount
        FROM
            bug_relation_case brc
                INNER JOIN test_plan_report_api_case tprac ON brc.test_plan_case_id = tprac.test_plan_api_case_id
        WHERE
            tprac.test_plan_report_id = #{id} UNION
        SELECT
            'SCENARIO' AS caseType,
            count( DISTINCT brc.bug_id ) AS bugCount
        FROM
            bug_relation_case brc
                INNER JOIN test_plan_report_api_scenario tpras ON brc.test_plan_case_id = tpras.test_plan_api_scenario_id
        WHERE
            tpras.test_plan_report_id = #{id}
    </select>

    <select id="countPlanBug" resultType="io.metersphere.plan.dto.ReportBugCountDTO">
        select brc.test_plan_case_id as refCaseId, count(brc.id) as bugCount from bug_relation_case brc join bug b on brc.bug_id = b.id
        where brc.test_plan_id = #{id} and b.deleted = false
        group by brc.test_plan_case_id
    </select>
</mapper>