<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.plan.mapper.ExtTestPlanCaseExecuteHistoryMapper">

    <update id="updateDeleted">
        UPDATE
            test_plan_case_execute_history
        SET deleted =#{deleted}
        WHERE test_plan_case_id IN
        <foreach collection="testPlanCaseIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>


    <select id="getCaseExecHistory" resultType="io.metersphere.plan.dto.response.TestPlanCaseExecHistoryResponse">
        SELECT
            tpceh.id as id,
            tpceh.case_id as caseId,
            tpceh.status as status,
            tpceh.content as content,
            tpceh.steps as steps,
            tpceh.create_user as createUser,
            tpceh.create_time as createTime,
            tpceh.notifier as notifier,
            u.name AS userName,
            ux.avatar AS userLogo,
            u.email AS email,
            fc.case_edit_type as caseEditType
        FROM
            test_plan_case_execute_history tpceh
            left JOIN user u ON tpceh.create_user = u.id
            left JOIN user_extend ux ON tpceh.create_user = ux.id
            LEFT JOIN functional_case fc ON tpceh.case_id = fc.id
        WHERE
            tpceh.test_plan_case_id = #{request.id}
          AND tpceh.deleted = FALSE
        ORDER BY
            tpceh.create_time DESC
    </select>

    <select id="getSingleExecHistory" resultType="io.metersphere.plan.dto.response.TestPlanCaseExecHistoryResponse">
        SELECT
            tpceh.id as id,
            tpceh.case_id as caseId,
            tpceh.status as status,
            tpceh.content as content,
            tpceh.steps as steps,
            tpceh.create_user as createUser,
            tpceh.create_time as createTime,
            tpceh.notifier as notifier,
            u.name AS userName,
            ux.avatar AS userLogo,
            u.email AS email
        FROM
            test_plan_case_execute_history tpceh
                left JOIN user u ON tpceh.create_user = u.id
                left JOIN user_extend ux ON tpceh.create_user = ux.id
        WHERE
            tpceh.id = #{id}
    </select>

    <select id="selectSteps" resultType="io.metersphere.plan.domain.TestPlanCaseExecuteHistory">
        SELECT
            test_plan_case_execute_history.id,
            test_plan_case_execute_history.test_plan_case_id as testPlanCaseId,
            test_plan_case_execute_history.test_plan_id as testPlanId,
            test_plan_case_execute_history.case_id as caseId,
            test_plan_case_execute_history.steps
        FROM
            test_plan_case_execute_history
        WHERE
            test_plan_case_id = #{testPlanCaseId}
          AND case_id = #{caseId}
          AND DELETED = FALSE
          AND steps IS NOT NULL
        ORDER BY
            create_time DESC
            LIMIT 1
    </select>


</mapper>