.container {
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.main-content {
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.main-content span.title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

/*解决高度塌陷和边距重叠*/
.clearfix:before,.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
