.header-menu.el-menu--horizontal > li {
  height: 39px;
  line-height: 40px;
  color: dimgray;
}

.header-menu.el-menu--horizontal > li.el-submenu > * {
  height: 39px;
  line-height: 40px;
  color: dimgray;
}

.header-user-menu.el-menu--horizontal > li.el-submenu > * {
  height: 40px;
  line-height: 40px;
  color: inherit;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
.main-content span.title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.header-top-menus.el-menu--horizontal > li {
  height: 40px;
  line-height: 40px;
  color: inherit;
}

.header-top-menus.el-menu--horizontal > li.el-submenu > * {
  height: 39px;
  line-height: 40px;
  color: inherit;
}

.header-top-menus.el-menu--horizontal > li.is-active {
  background: #595591 !important;
}
