/** 表格样式  **/
.arco-table-cell {
  .circle {
    @apply inline-block rounded-full;

    margin-right: 4px;
    width: 6px;
    height: 6px;
    background-color: rgb(var(--blue-6));
    &.pass {
      background-color: rgb(var(--green-6));
    }
  }
}
.ms-table-row-disabled {
  td:not(.arco-table-col-fixed-right, .arco-table-checkbox),
  &:hover,
  td:not(.arco-table-col-fixed-right, .arco-table-checkbox)::before,
  .arco-tag {
    color: var(--color-text-4);
    background-color: var(--color-text-n8) !important;
  }
}

/** Tabs 组件样式 **/
.arco-tabs-nav-add-btn {
  font-size: var(--font-size-body-3);
}

/** Modal对话框 **/
.arco-modal {
  @apply bg-white;

  padding: 24px;
  .arco-modal-header {
    @apply h-auto border-b-0 p-0;

    margin-bottom: 16px;
    .arco-modal-title {
      @apply flex items-center font-semibold;

      font-size: 14px;
      .arco-modal-title-icon {
        @apply flex items-center;
        .arco-icon {
          font-size: 20px;
        }
      }
    }
  }
  .arco-modal-body {
    color: var(--color-text-2);
  }
  .arco-modal-footer {
    @apply border-t-0 p-0 text-right;

    margin-top: 16px;
  }
}
.ms-modal-weak {
  .arco-modal-footer {
    .arco-btn:first-child {
      color: var(--color-text-1) !important;
    }
  }
}
.ms-modal-warning {
  .arco-modal-title-icon {
    .arco-icon {
      color: rgb(var(--danger-6));
    }
  }
}
.ms-modal-form {
  .arco-modal-body {
    padding: 8px 0;
  }
}
.ms-modal-upload {
  .arco-modal-body {
    padding: 2px 0;
    .arco-upload {
      @apply w-full;
    }
  }
}
.ms-modal-medium {
  .arco-modal {
    width: 680px;
  }
}
.ms-modal-large {
  .arco-modal {
    width: 960px;
  }
}

/** 按钮 **/
.arco-btn-primary {
  background-color: rgb(var(--primary-5)) !important;
  &:not(:disabled):hover {
    background-color: rgb(var(--primary-4)) !important;
  }
  &:not(:disabled):active {
    background-color: rgb(var(--primary-7)) !important;
  }
  &:disabled {
    background-color: rgb(var(--primary-3)) !important;
  }
}
.arco-btn-status-danger {
  background-color: rgb(var(--danger-6)) !important;
  &:not(:disabled):hover {
    background-color: rgb(var(--danger-5)) !important;
  }
  &:not(:disabled):active {
    background-color: rgb(var(--danger-7)) !important;
  }
  &:disabled {
    background-color: rgb(var(--danger-2)) !important;
  }
}
.arco-btn-secondary:not(.arco-btn-disabled) {
  color: var(--clolor-text-1) !important;
  background-color: var(--color-text-n8) !important;
  &:not(:disabled):hover {
    background-color: var(--color-text-input-border) !important;
  }
  &:not(:disabled):active {
    background-color: var(--color-text-brand) !important;
  }
}
.arco-btn-text {
  &:not(:disabled):hover {
    background-color: var(--color-text-n9) !important;
  }
  &:not(:disabled):active {
    background-color: var(--color-text-n8) !important;
  }
}
.arco-btn-outline {
  color: rgb(var(--primary-5)) !important;
  &:not(:disabled):hover {
    border-color: rgb(var(--primary-4)) !important;
    color: rgb(var(--primary-4)) !important;
    background-color: rgb(var(--primary-1)) !important;
  }
  &:not(:disabled):active {
    border-color: rgb(var(--primary-7)) !important;
    color: rgb(var(--primary-7)) !important;
    background-color: rgb(var(--primary-9)) !important;
  }
  &:disabled {
    border-color: rgb(var(--primary-3)) !important;
    color: rgb(var(--primary-3)) !important;
    background-color: rgb(var(--primary-1)) !important;
  }
}

/** 输入框，选择器 **/
.arco-input-wrapper,
.arco-input-tag,
.arco-select {
  border: 1px solid var(--color-text-input-border);
  background-color: var(--color-text-fff) !important;
  &:not(:disabled):hover {
    border-color: rgb(var(--primary-5));
  }
  input::placeholder {
    color: var(--color-text-brand);
  }
}
.arco-select,
.arco-input-tag {
  .arco-icon {
    font-size: 14px;
    color: var(--color-text-4);
  }
}
.arco-select-view-inner,
.arco-input-tag-inner {
  .arco-tag {
    background-color: var(--color-text-n8) !important;
  }
}
.arco-input-error,
.arco-input-tag-error {
  border-color: rgb(var(--danger-6)) !important;
  background-color: var(--color-bg-2) !important;
  box-shadow: 0 0 0 0 var(--color-danger-light-2) !important;
}

/** form-item **/
.arco-form-item-content-flex {
  @apply flex-wrap;
}
.arco-form-item-message {
  width: 100%;
}
.hidden-item {
  @apply mb-0 flex-1;
  .arco-form-item-label-col {
    @apply !hidden;
  }
}

/** 多选框 **/
.arco-checkbox-checked {
  .arco-checkbox-icon {
    @apply !border-none;
  }
  .arco-checkbox-icon-check {
    @apply text-white;
    .arco-checkbox-icon {
      background-color: rgb(var(--primary-5));
    }
  }
}
.arco-checkbox {
  .arco-checkbox-icon {
    border: 1px solid var(--color-text-input-border);
  }
}
.arco-checkbox-disabled,
.arco-checkbox-disabled:hover {
  .arco-checkbox-icon {
    @apply bg-white;

    border: 1px solid var(--color-text-input-border);
  }
}

/** Message **/
.arco-message {
  border: 0.5px solid var(--color-text-n8);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 6px 30px 5px rgb(0 0 0 / 5%), 0 16px 24px 2px rgb(0 0 0 / 4%), 0 8px 10px -5px rgb(0 0 0 / 8%);
}

/** 图标 **/
.arco-icon {
  font-size: 16px;
}

/** 下拉菜单 **/
.arco-dropdown {
  border: 0.5px solid var(--color-text-n8);
  box-shadow: 0 3px 14px 2px rgb(0 0 0 / 5%), 0 8px 10px 1px rgb(0 0 0 / 6%), 0 5px 5px -3px rgb(0 0 0 / 10%);
  .arco-dropdown-list {
    @apply relative flex w-full flex-col overflow-hidden;
    .arco-dropdown-option {
      @apply w-auto;

      margin: 0 6px;
      padding: 3px 8px;
      border-radius: var(--border-radius-small);
      line-height: normal;
      &:hover {
        background-color: rgb(var(--primary-1));
      }
    }
  }
}

/** 全局容器 **/
.ms-contentiner {
  height: calc(100vh - 84px);
}

/** 气泡弹窗 **/
.arco-popover-title {
  font-size: 14px;
}
.arco-popover-content {
  font-size: 12px;
}

/** 链接 **/
.arco-link-status-normal {
  color: rgb(var(--primary-5)) !important;
  &:not(:disabled):hover {
    color: rgb(var(--primary-4)) !important;
    background-color: rgb(var(--color-text-n9));
  }
  &:not(:disabled):active {
    color: rgb(var(--primary-7)) !important;
  }
  &:disabled {
    color: rgb(var(--primary-3)) !important;
  }
}

/** 穿梭框 **/
.arco-transfer {
  @apply grid;

  grid-template-columns: 4fr 1fr 4fr;
  .arco-transfer-view {
    @apply w-auto;

    height: 370px;
    .arco-transfer-view-header {
      @apply bg-white;
    }
  }
  .arco-transfer-operations {
    .arco-btn-secondary {
      border-color: rgb(var(--primary-5));
      border-radius: var(--border-radius-small);
      background-color: rgb(var(--primary-1)) !important;
      .arco-btn-icon {
        color: rgb(var(--primary-5));
      }
      &:disabled {
        border-color: var(--color-text-input-border) !important;
        background-color: var(--color-text-n8) !important;
        .arco-btn-icon {
          color: var(--color-text-4);
        }
      }
      &:not(:disabled):hover {
        border-color: rgb(var(--primary-4)) !important;
        background-color: rgb(var(--primary-1)) !important;
        .arco-btn-icon {
          color: rgb(var(--primary-7));
        }
      }
      &:not(:disabled):active {
        border-color: rgb(var(--primary-7)) !important;
        background-color: rgb(var(--primary-9)) !important;
        .arco-btn-icon {
          color: rgb(var(--primary-7));
        }
      }
    }
  }
}
