<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.project.mapper.ExtBaseProjectVersionMapper">

    <select id="getDefaultVersion" resultType="java.lang.String">
        select id from project_version where project_id = #{projectId} and status = 'open' and latest = TRUE LIMIT 1
    </select>

</mapper>