<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.project.mapper.ExtEnvironmentMapper">

    <select id="selectByKeyword" resultType="io.metersphere.sdk.domain.Environment">
        SELECT
        <if test="selectId">
            id
        </if>
        <if test="!selectId">
            *
        </if>
        FROM environment
        WHERE environment.project_id = #{projectId}
        <if test="keyword != null and keyword != ''">
            AND (
            id = #{keyword} OR
            (name LIKE CONCAT('%', #{keyword}, '%'))
            )

        </if>
            ORDER BY pos asc
    </select>
    <select id="groupList" resultType="io.metersphere.sdk.domain.EnvironmentGroup">
        SELECT
        *
        FROM environment_group
        WHERE environment_group.project_id = #{projectId}
        <if test="keyword != null and keyword != ''">
            AND (
            id = #{keyword} OR
            (name LIKE CONCAT('%', #{keyword}, '%'))
            )

        </if>
        ORDER BY pos asc
    </select>
    <select id="getPos" resultType="java.lang.Long">
        SELECT pos
        FROM environment
        WHERE project_id = #{projectId}
        ORDER BY pos DESC
        LIMIT 1;
    </select>

    <select id="getPrePos" resultType="java.lang.Long">
        select `pos` from environment where project_id = #{projectId}
        <if test="basePos != null">
            and `pos` &lt; #{basePos}
        </if>
        order by `pos` desc limit 1;
    </select>


    <select id="getLastPos" resultType="java.lang.Long">
        select `pos` from environment where project_id = #{projectId}
        <if test="basePos != null">
            and `pos` &gt; #{basePos}
        </if>
        order by `pos` desc limit 1;
    </select>
    <select id="getGroupPos" resultType="java.lang.Long">
        SELECT pos
        FROM environment_group
        WHERE project_id = #{projectId}
        ORDER BY pos DESC
        LIMIT 1;
    </select>
    <select id="getGroupPrePos" resultType="java.lang.Long">
        select `pos` from environment_group where project_id = #{projectId}
        <if test="basePos != null">
            and `pos` &gt; #{basePos}
        </if>
        order by `pos` desc limit 1;
    </select>
    <select id="getGroupLastPos" resultType="java.lang.Long">
        select `pos` from environment_group where project_id = #{projectId}
        <if test="basePos != null">
            and `pos` &gt; #{basePos}
        </if>
        order by `pos` desc limit 1;
    </select>
</mapper>