<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.project.mapper.ExtEnvironmentMapper">

    <select id="selectByKeyword" resultType="io.metersphere.sdk.domain.Environment">
        SELECT
        <if test="selectId">
            id
        </if>
        <if test="!selectId">
            *
        </if>
        FROM environment
        WHERE environment.project_id = #{projectId}
        <if test="keyword != null and keyword != ''">
            AND (
            id = #{keyword} OR
            (name LIKE CONCAT('%', #{keyword}, '%'))
            )

        </if>
            ORDER BY update_time DESC
    </select>
</mapper>