<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.project.mapper.ExtProjectTestResourcePoolMapper">


    <select id="getResourcePoolList" resultType="io.metersphere.sdk.dto.OptionDTO">
        SELECT
            id,
            NAME
        FROM
            test_resource_pool
        WHERE
            all_org = 1
          AND `enable` = 1
          AND deleted = 0
        UNION
        SELECT
            trp.id,
            trp.NAME
        FROM
            test_resource_pool trp
                LEFT JOIN test_resource_pool_organization trpo ON trp.id = trpo.test_resource_pool_id
        WHERE
            trpo.org_id = #{orgId}
          AND trp.`enable` = 1
          AND trp.deleted = 0
    </select>
</mapper>