<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtCustomFunctionMapper">

    <select id="queryAll" resultType="io.metersphere.base.domain.CustomFunction">
        select id, name, tags, type, description, create_time, update_time, project_id from custom_function
        <where>
            <if test="request.name != null and request.name!=''">
                and (custom_function.name like CONCAT('%', #{request.name},'%')
                    or custom_function.tags like CONCAT('%', #{request.name},'%'))
            </if>
            <if test="request.projectId != null">
                and custom_function.project_id = #{request.projectId}
            </if>
            <if test="request.type != null">
                and custom_function.type = #{request.type}
            </if>
            <if test="request.filters != null and request.filters.size() > 0">
                <foreach collection="request.filters.entrySet()" index="key" item="values">
                    <if test="values != null and values.size() > 0">
                        <choose>
                            <when test="key == 'type'">
                                AND custom_function.type IN
                                <foreach collection="values" item="value" separator="," open="(" close=")">
                                    #{value}
                                </foreach>
                            </when>
                        </choose>
                    </if>
                </foreach>
            </if>
            <if test="request.orders != null and request.orders.size() > 0">
                ORDER BY
                <foreach collection="request.orders" separator="," item="order">
                    custom_function.${order.name} ${order.type}
                </foreach>
            </if>
            <if test="request.orders == null">
               order by custom_function.create_time desc
            </if>
        </where>

    </select>

</mapper>