<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.metersphere.api.mapper.ExtApiDocShareMapper">

    <select id="list" resultType="io.metersphere.api.dto.definition.ApiDocShareDTO">
        select id, name, is_public isPublic, create_user createUser, create_time createTime,
               api_range apiRange, range_match_symbol rangeMatchSymbol, range_match_val rangeMatchVal,
               invalid_time invalidTime, invalid_unit invalidUnit, project_id projectId
        from api_doc_share
        <include refid="queryWhereCondition"/>
    </select>

    <sql id="queryWhereCondition">
        <where>
            <if test="request.projectId != null and request.projectId != ''">
                and project_id = #{request.projectId}
            </if>
            <if test="request.keyword != null and request.keyword != ''">
                and name like concat('%', #{request.keyword},'%')
            </if>
        </where>
    </sql>
</mapper>