<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.api.mapper.ExtApiScenarioStepMapper">

    <select id="getStepIdsByScenarioId" resultType="java.lang.String">
        SELECT id FROM api_scenario_step WHERE scenario_id = #{scenarioId}
    </select>
    <select id="getStepDTOByScenarioIds" resultType="io.metersphere.api.dto.scenario.ApiScenarioStepDTO">
        select
        <include refid="io.metersphere.api.mapper.ApiScenarioStepMapper.Base_Column_List"/>
        from api_scenario_step where scenario_id in
        <foreach collection="scenarioIds" item="scenarioId" open="(" separator="," close=")">
            #{scenarioId}
        </foreach>
    </select>
</mapper>