<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.metersphere.api.mapper.ExtApiDebugMapper">
    <update id="updatePos">
        update api_debug
        set pos =#{pos}
        where id = #{id}
    </update>

    <select id="list" resultType="io.metersphere.api.dto.debug.ApiDebugSimpleDTO">
        select  id, name, method, module_id
        from api_debug
        where protocol = #{protocol} and create_user = #{userId}
        ORDER BY pos
    </select>

    <select id="getPos" resultType="java.lang.Long">
        SELECT pos
        FROM api_debug
        WHERE create_user = #{userId}
        ORDER BY pos DESC
        LIMIT 1;
    </select>
    <select id="getPrePos" resultType="java.lang.Long">
        select `pos` from api_debug where create_user = #{userId}
        <if test="basePos != null">
            and `pos` &lt; #{basePos}
        </if>
        order by `pos` desc limit 1;
    </select>


    <select id="getLastPos" resultType="java.lang.Long">
        select `pos` from api_debug where create_user = #{userId}
        <if test="basePos != null">
            and `pos` &gt; #{basePos}
        </if>
        order by `pos` desc limit 1;
    </select>
    <select id="selectIdByProjectIdOrderByPos" resultType="java.lang.String">
        SELECT id
        FROM api_debug
        WHERE create_user = #{userId}
        ORDER BY pos
    </select>
    <select id="selectDragInfoById" resultType="io.metersphere.project.dto.DropNode">
        SELECT id, pos
        FROM api_debug
        WHERE id = #{id}
    </select>
    <select id="selectNodeByPosOperator"
            parameterType="io.metersphere.project.dto.NodeSortQueryParam"
            resultType="io.metersphere.project.dto.DropNode">
        SELECT id, pos
        FROM api_debug
        WHERE create_user = #{parentId}
        <if test="operator == 'moreThan'">
            AND pos &gt; #{pos}
        </if>
        <if test="operator == 'lessThan'">
            AND pos &lt; #{pos}
        </if>
        ORDER BY pos
        <if test="operator == 'lessThan' or operator == 'latest'">
            DESC
        </if>
        LIMIT 1
    </select>
</mapper>