<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.bug.mapper.ExtBugRelationCaseMapper">
    <select id="countRelationCases" resultType="io.metersphere.bug.dto.BugRelationCaseCountDTO">
        select count(distinct brc.case_id) as relationCaseCount, bug_id as bugId from bug_relation_case brc
        where brc.bug_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        group by brc.bug_id
    </select>
</mapper>