<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.functional.mapper.FunctionalCaseBlobMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.functional.domain.FunctionalCaseBlob">
    <id column="id" jdbcType="VARCHAR" property="id" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.metersphere.functional.domain.FunctionalCaseBlob">
    <result column="steps" jdbcType="LONGVARBINARY" property="steps" />
    <result column="text_description" jdbcType="LONGVARBINARY" property="textDescription" />
    <result column="expected_result" jdbcType="LONGVARBINARY" property="expectedResult" />
    <result column="prerequisite" jdbcType="LONGVARBINARY" property="prerequisite" />
    <result column="description" jdbcType="LONGVARBINARY" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id
  </sql>
  <sql id="Blob_Column_List">
    steps, text_description, expected_result, prerequisite, description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from functional_case_blob
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from functional_case_blob
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample">
    delete from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    insert into functional_case_blob (id, steps, text_description, 
      expected_result, prerequisite, 
      description)
    values (#{id,jdbcType=VARCHAR}, #{steps,jdbcType=LONGVARBINARY}, #{textDescription,jdbcType=LONGVARBINARY}, 
      #{expectedResult,jdbcType=LONGVARBINARY}, #{prerequisite,jdbcType=LONGVARBINARY}, 
      #{description,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    insert into functional_case_blob
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="steps != null">
        steps,
      </if>
      <if test="textDescription != null">
        text_description,
      </if>
      <if test="expectedResult != null">
        expected_result,
      </if>
      <if test="prerequisite != null">
        prerequisite,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="steps != null">
        #{steps,jdbcType=LONGVARBINARY},
      </if>
      <if test="textDescription != null">
        #{textDescription,jdbcType=LONGVARBINARY},
      </if>
      <if test="expectedResult != null">
        #{expectedResult,jdbcType=LONGVARBINARY},
      </if>
      <if test="prerequisite != null">
        #{prerequisite,jdbcType=LONGVARBINARY},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample" resultType="java.lang.Long">
    select count(*) from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update functional_case_blob
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.steps != null">
        steps = #{record.steps,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.textDescription != null">
        text_description = #{record.textDescription,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.expectedResult != null">
        expected_result = #{record.expectedResult,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.prerequisite != null">
        prerequisite = #{record.prerequisite,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update functional_case_blob
    set id = #{record.id,jdbcType=VARCHAR},
      steps = #{record.steps,jdbcType=LONGVARBINARY},
      text_description = #{record.textDescription,jdbcType=LONGVARBINARY},
      expected_result = #{record.expectedResult,jdbcType=LONGVARBINARY},
      prerequisite = #{record.prerequisite,jdbcType=LONGVARBINARY},
      description = #{record.description,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update functional_case_blob
    set id = #{record.id,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    update functional_case_blob
    <set>
      <if test="steps != null">
        steps = #{steps,jdbcType=LONGVARBINARY},
      </if>
      <if test="textDescription != null">
        text_description = #{textDescription,jdbcType=LONGVARBINARY},
      </if>
      <if test="expectedResult != null">
        expected_result = #{expectedResult,jdbcType=LONGVARBINARY},
      </if>
      <if test="prerequisite != null">
        prerequisite = #{prerequisite,jdbcType=LONGVARBINARY},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    update functional_case_blob
    set steps = #{steps,jdbcType=LONGVARBINARY},
      text_description = #{textDescription,jdbcType=LONGVARBINARY},
      expected_result = #{expectedResult,jdbcType=LONGVARBINARY},
      prerequisite = #{prerequisite,jdbcType=LONGVARBINARY},
      description = #{description,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    insert into functional_case_blob
    (id, steps, text_description, expected_result, prerequisite, description)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.steps,jdbcType=LONGVARBINARY}, #{item.textDescription,jdbcType=LONGVARBINARY}, 
        #{item.expectedResult,jdbcType=LONGVARBINARY}, #{item.prerequisite,jdbcType=LONGVARBINARY}, 
        #{item.description,jdbcType=LONGVARBINARY})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into functional_case_blob (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=VARCHAR}
        </if>
        <if test="'steps'.toString() == column.value">
          #{item.steps,jdbcType=LONGVARBINARY}
        </if>
        <if test="'text_description'.toString() == column.value">
          #{item.textDescription,jdbcType=LONGVARBINARY}
        </if>
        <if test="'expected_result'.toString() == column.value">
          #{item.expectedResult,jdbcType=LONGVARBINARY}
        </if>
        <if test="'prerequisite'.toString() == column.value">
          #{item.prerequisite,jdbcType=LONGVARBINARY}
        </if>
        <if test="'description'.toString() == column.value">
          #{item.description,jdbcType=LONGVARBINARY}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>