<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.functional.mapper.FunctionalCaseBlobMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.functional.domain.FunctionalCaseBlob">
    <id column="functional_case_id" jdbcType="VARCHAR" property="functionalCaseId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.metersphere.functional.domain.FunctionalCaseBlob">
    <result column="steps" jdbcType="LONGVARCHAR" property="steps" />
    <result column="step_description" jdbcType="LONGVARCHAR" property="stepDescription" />
    <result column="expected_result" jdbcType="LONGVARCHAR" property="expectedResult" />
    <result column="prerequisite" jdbcType="LONGVARCHAR" property="prerequisite" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    functional_case_id
  </sql>
  <sql id="Blob_Column_List">
    steps, step_description, expected_result, prerequisite, description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from functional_case_blob
    where functional_case_id = #{functionalCaseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from functional_case_blob
    where functional_case_id = #{functionalCaseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample">
    delete from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    insert into functional_case_blob (functional_case_id, steps, step_description, 
      expected_result, prerequisite, description
      )
    values (#{functionalCaseId,jdbcType=VARCHAR}, #{steps,jdbcType=LONGVARCHAR}, #{stepDescription,jdbcType=LONGVARCHAR}, 
      #{expectedResult,jdbcType=LONGVARCHAR}, #{prerequisite,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    insert into functional_case_blob
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="functionalCaseId != null">
        functional_case_id,
      </if>
      <if test="steps != null">
        steps,
      </if>
      <if test="stepDescription != null">
        step_description,
      </if>
      <if test="expectedResult != null">
        expected_result,
      </if>
      <if test="prerequisite != null">
        prerequisite,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="functionalCaseId != null">
        #{functionalCaseId,jdbcType=VARCHAR},
      </if>
      <if test="steps != null">
        #{steps,jdbcType=LONGVARCHAR},
      </if>
      <if test="stepDescription != null">
        #{stepDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="expectedResult != null">
        #{expectedResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="prerequisite != null">
        #{prerequisite,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.functional.domain.FunctionalCaseBlobExample" resultType="java.lang.Long">
    select count(*) from functional_case_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update functional_case_blob
    <set>
      <if test="record.functionalCaseId != null">
        functional_case_id = #{record.functionalCaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.steps != null">
        steps = #{record.steps,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.stepDescription != null">
        step_description = #{record.stepDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.expectedResult != null">
        expected_result = #{record.expectedResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.prerequisite != null">
        prerequisite = #{record.prerequisite,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update functional_case_blob
    set functional_case_id = #{record.functionalCaseId,jdbcType=VARCHAR},
      steps = #{record.steps,jdbcType=LONGVARCHAR},
      step_description = #{record.stepDescription,jdbcType=LONGVARCHAR},
      expected_result = #{record.expectedResult,jdbcType=LONGVARCHAR},
      prerequisite = #{record.prerequisite,jdbcType=LONGVARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update functional_case_blob
    set functional_case_id = #{record.functionalCaseId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    update functional_case_blob
    <set>
      <if test="steps != null">
        steps = #{steps,jdbcType=LONGVARCHAR},
      </if>
      <if test="stepDescription != null">
        step_description = #{stepDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="expectedResult != null">
        expected_result = #{expectedResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="prerequisite != null">
        prerequisite = #{prerequisite,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where functional_case_id = #{functionalCaseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.metersphere.functional.domain.FunctionalCaseBlob">
    update functional_case_blob
    set steps = #{steps,jdbcType=LONGVARCHAR},
      step_description = #{stepDescription,jdbcType=LONGVARCHAR},
      expected_result = #{expectedResult,jdbcType=LONGVARCHAR},
      prerequisite = #{prerequisite,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where functional_case_id = #{functionalCaseId,jdbcType=VARCHAR}
  </update>
</mapper>