<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.BaseOperationLogMapper">

    <select id="list" parameterType="io.metersphere.system.log.vo.SystemOperationLogRequest" resultType="io.metersphere.system.log.vo.OperationLogResponse">
        SELECT
        t.project_id,
        t.organization_id,
        t.create_time,
        t.create_user,
        t.source_id,
        t.module,
        t.type,
        t.content
        FROM
        operation_log t
        <where>
            <if test="request.operUser != null and request.operUser != ''">
                AND t.create_user = #{request.operUser, jdbcType=VARCHAR}
            </if>
            <if test="request.startTime != null and request.endTime != null">
                AND t.create_time BETWEEN #{request.startTime} AND #{request.endTime}
            </if>
            <if test="request.type != 'LOGOUT' and request.type !='LOGIN'">
                <if test="request.level != null and request.level != 'SYSTEM'">
                    AND t.project_id <![CDATA[<>]]> 'SYSTEM'
                </if>
                <if test="request.level != null and request.level == 'PROJECT'">
                    AND t.project_id <![CDATA[<>]]> 'ORGANIZATION'
                </if>
                <if test="request.projectIds != null and request.projectIds.size > 0 ">
                    AND t.project_id IN
                    <foreach collection="request.projectIds" item="projectId" separator="," open="(" close=")">
                        #{projectId}
                    </foreach>
                </if>
                <if test="request.organizationIds != null and request.organizationIds.size > 0 ">
                    AND t.organization_id IN
                    <foreach collection="request.organizationIds" item="organizationId" separator="," open="(" close=")">
                        #{organizationId}
                    </foreach>
                </if>
            </if>
            <if test="request.type != null and request.type != ''">
                AND t.type = #{request.type}
            </if>
            <if test="request.module != null and request.module != ''">
                <bind name="module" value="request.module+'%'"/>
                AND t.module like #{module}
            </if>
            <if test="request.content != null and request.content != ''">
                <bind name="content" value="'%'+request.content+'%'"/>
                AND t.content like #{content}
            </if>
        </where>
        ORDER BY t.create_time DESC
    </select>


    <delete id="deleteByTime" parameterType="java.lang.Long">
        DELETE FROM operation_log WHERE create_time <![CDATA[<]]> #{timestamp}
    </delete>

    <select id="selectIdByHistoryIds" resultType="java.lang.Long">
        select id from operation_log where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
