<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.system.mapper.BaseNotificationMapper">

    <select id="listNotification" resultType="io.metersphere.project.domain.Notification">
        SELECT * FROM notification
        WHERE receiver = #{request.receiver} AND create_time &gt; (unix_timestamp()  - 90 * 24 * 3600) * 1000
        <if test='request.title != null and request.title != ""'>
            AND ( title LIKE #{request.title} OR content LIKE #{request.title} )
        </if>
        <if test='request.type != null and request.type != ""'>
            AND type = #{request.type}
        </if>
        <if test='request.status != null and request.status != ""'>
            AND status = #{request.status}
        </if>
        <if test='request.resourceType != null and notificationRequest.resourceType != ""'>
            AND resource_type LIKE #{request.resourceType}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>