<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.BaseProjectMapper">
    <select id="selectOne" resultType="io.metersphere.project.domain.Project">
        SELECT *
        FROM project WHERE enabled = 1
        LIMIT 1
    </select>

    <select id="selectProjectByIdList" resultType="io.metersphere.project.domain.Project">
        SELECT id, name
        FROM project
        WHERE id IN
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getProjectIdByOrgId" resultType="java.lang.String">
        SELECT id
        FROM project
        WHERE organization_id = #{orgId}
    </select>


    <select id="getProjectOptionsByOrgId" resultType="io.metersphere.system.dto.sdk.OptionDTO">
        select id, name
        from project
        where organization_id = #{orgId}
        order by create_time desc
    </select>

    <select id="getProjectOptionsById" resultType="io.metersphere.system.dto.sdk.OptionDTO">
        select id, name
        from project
        where id = #{id}
        order by create_time desc
    </select>

    <select id="getProjectOptions" resultType="io.metersphere.system.dto.sdk.OptionDTO">
        select id, name
        from project
        order by create_time desc
    </select>

    <select id="selectProjectByLimit" resultType="io.metersphere.project.domain.Project">
        SELECT id FROM project WHERE deleted = 0 ORDER BY create_time LIMIT #{start}, #{limit}
    </select>
</mapper>