<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.BaseUserRoleRelationMapper">
    <select id="getUserIdAndSourceIdByUserIds" resultType="io.metersphere.system.domain.UserRoleRelation">
        select user_id, source_id, role_id
        from user_role_relation
        where user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
    <select id="getUserIdByRoleId" resultType="java.lang.String">
        select user_id
        from user_role_relation
        where role_id = #{roleId}
    </select>
    <select id="getSelectOption" resultType="io.metersphere.system.dto.sdk.ExcludeOptionDTO">
        select user_id as id, user_name as name
        from user
    </select>
</mapper>