<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.ExtCheckOwnerMapper">
    <select id="checkoutOwner" resultType="boolean">
        SELECT 1
        FROM ${table}
        WHERE id = #{id}
          AND project_id = #{projectId}
    </select>
</mapper>