<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.ExtExecTaskItemMapper">

    <select id="selectList" resultType="io.metersphere.system.dto.taskhub.TaskHubItemDTO">
        SELECT exec_task_item.*, exec_task.num
        FROM exec_task_item
        inner join exec_task on exec_task_item.task_id = exec_task.id
        <where>
            <if test="request.keyword != null and request.keyword != ''">
                and (
                exec_task.num like concat('%', #{request.keyword},'%')
                or exec_task_item.resource_name like concat('%', #{request.keyword},'%')
                )
            </if>
            <if test="orgId != null and orgId != ''">
                and exec_task_item.organization_id = #{orgId}
            </if>
            <if test="projectId != null and projectId != ''">
                and exec_task_item.project_id = #{projectId}
            </if>
            <if test="request.resourcePoolIds != null and request.resourcePoolIds.size() > 0">
                and exec_task_item.resource_pool_id in
                <foreach collection="request.resourcePoolIds" item="resourcePoolId" separator="," open="(" close=")">
                    #{request.resourcePoolId}
                </foreach>
            </if>
            <if test="request.resourcePoolNodes != null and request.resourcePoolNodes.size() > 0">
                and exec_task_item.resource_pool_node in
                <foreach collection="request.resourcePoolNodes" item="resourcePoolNode" separator="," open="(" close=")">
                    #{request.resourcePoolNode}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectItemByTaskIds" resultType="io.metersphere.system.domain.ExecTaskItem">
        select  id, task_id, `status`, result
        from exec_task_item
        where task_id in
        <foreach collection="taskIds" item="taskId" open="(" separator="," close=")">
            #{taskId}
        </foreach>
        <if test="orgId != null and orgId != ''">
            and exec_task_item.organization_id = #{orgId}
        </if>
        <if test="projectId != null and projectId != ''">
            and exec_task_item.project_id = #{projectId}
        </if>
    </select>

    <select id="selectPoolNodeByIds" resultType="io.metersphere.system.domain.ExecTaskItem">
        select id, resource_pool_node from exec_task_item where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>