<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.ExtOrganizationCustomFieldMapper">
    <select id="getCustomFieldByRefId" resultType="java.lang.String">
        SELECT id FROM custom_field WHERE ref_id = #{refId}
    </select>

    <select id="getCustomFieldOptions" resultType="io.metersphere.system.dto.sdk.OptionDTO">
        SELECT id, name FROM custom_field
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>