<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.ExtSwaggerMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from api_definition_swagger
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.String">
    select count(*) from api_definition_swagger  where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>