<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.system.mapper.ExtUserRoleRelationMapper">

    <select id="selectGlobalRoleByUserIdList" resultType="io.metersphere.system.domain.UserRoleRelation">
        SELECT * FROM
        user_role_relation
        WHERE
        <foreach collection="userIds" item="userId" open="(" close=")" separator="OR">
            user_id = #{userId}
        </foreach>
        AND role_id IN (
        SELECT id FROM user_role WHERE scope_id = 'global'
        )
    </select>
    <select id="selectGlobalRoleByUserId" resultType="io.metersphere.system.domain.UserRoleRelation">
        SELECT * FROM
        user_role_relation
        WHERE
        user_id = #{userId}
        AND role_id IN (
            SELECT id FROM user_role WHERE type = 'SYSTEM' AND scope_id = 'global'
            )
    </select>
    <select id="listGlobal" resultType="io.metersphere.sdk.dto.UserRoleRelationUserDTO">
        select urr.id, u.id as userId, u.name, u.email, u.phone
        from user_role_relation urr
        inner join user u on urr.user_id = u.id and urr.role_id = #{request.roleId}
        <if test="request.keyword != null">
            and (
                u.name like concat('%', #{request.keyword},'%')
                or u.email like concat('%', #{request.keyword},'%')
            )
        </if>
    </select>
</mapper>