<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.plan.mapper.TestPlanFunctionalCaseMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.plan.domain.TestPlanFunctionalCase">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="test_plan_id" jdbcType="VARCHAR" property="testPlanId" />
    <result column="functional_case_id" jdbcType="VARCHAR" property="functionalCaseId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="execute_user" jdbcType="VARCHAR" property="executeUser" />
    <result column="last_exec_time" jdbcType="BIGINT" property="lastExecTime" />
    <result column="last_exec_result" jdbcType="VARCHAR" property="lastExecResult" />
    <result column="pos" jdbcType="BIGINT" property="pos" />
    <result column="test_plan_collection_id" jdbcType="VARCHAR" property="testPlanCollectionId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, test_plan_id, functional_case_id, create_time, create_user, execute_user, last_exec_time, 
    last_exec_result, pos, test_plan_collection_id
  </sql>
  <select id="selectByExample" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_plan_functional_case
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_plan_functional_case
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from test_plan_functional_case
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCaseExample">
    delete from test_plan_functional_case
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCase">
    insert into test_plan_functional_case (id, test_plan_id, functional_case_id, 
      create_time, create_user, execute_user, 
      last_exec_time, last_exec_result, pos, 
      test_plan_collection_id)
    values (#{id,jdbcType=VARCHAR}, #{testPlanId,jdbcType=VARCHAR}, #{functionalCaseId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{executeUser,jdbcType=VARCHAR}, 
      #{lastExecTime,jdbcType=BIGINT}, #{lastExecResult,jdbcType=VARCHAR}, #{pos,jdbcType=BIGINT}, 
      #{testPlanCollectionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCase">
    insert into test_plan_functional_case
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="testPlanId != null">
        test_plan_id,
      </if>
      <if test="functionalCaseId != null">
        functional_case_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="executeUser != null">
        execute_user,
      </if>
      <if test="lastExecTime != null">
        last_exec_time,
      </if>
      <if test="lastExecResult != null">
        last_exec_result,
      </if>
      <if test="pos != null">
        pos,
      </if>
      <if test="testPlanCollectionId != null">
        test_plan_collection_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="testPlanId != null">
        #{testPlanId,jdbcType=VARCHAR},
      </if>
      <if test="functionalCaseId != null">
        #{functionalCaseId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="executeUser != null">
        #{executeUser,jdbcType=VARCHAR},
      </if>
      <if test="lastExecTime != null">
        #{lastExecTime,jdbcType=BIGINT},
      </if>
      <if test="lastExecResult != null">
        #{lastExecResult,jdbcType=VARCHAR},
      </if>
      <if test="pos != null">
        #{pos,jdbcType=BIGINT},
      </if>
      <if test="testPlanCollectionId != null">
        #{testPlanCollectionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCaseExample" resultType="java.lang.Long">
    select count(*) from test_plan_functional_case
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test_plan_functional_case
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.testPlanId != null">
        test_plan_id = #{record.testPlanId,jdbcType=VARCHAR},
      </if>
      <if test="record.functionalCaseId != null">
        functional_case_id = #{record.functionalCaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.executeUser != null">
        execute_user = #{record.executeUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lastExecTime != null">
        last_exec_time = #{record.lastExecTime,jdbcType=BIGINT},
      </if>
      <if test="record.lastExecResult != null">
        last_exec_result = #{record.lastExecResult,jdbcType=VARCHAR},
      </if>
      <if test="record.pos != null">
        pos = #{record.pos,jdbcType=BIGINT},
      </if>
      <if test="record.testPlanCollectionId != null">
        test_plan_collection_id = #{record.testPlanCollectionId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test_plan_functional_case
    set id = #{record.id,jdbcType=VARCHAR},
      test_plan_id = #{record.testPlanId,jdbcType=VARCHAR},
      functional_case_id = #{record.functionalCaseId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      execute_user = #{record.executeUser,jdbcType=VARCHAR},
      last_exec_time = #{record.lastExecTime,jdbcType=BIGINT},
      last_exec_result = #{record.lastExecResult,jdbcType=VARCHAR},
      pos = #{record.pos,jdbcType=BIGINT},
      test_plan_collection_id = #{record.testPlanCollectionId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCase">
    update test_plan_functional_case
    <set>
      <if test="testPlanId != null">
        test_plan_id = #{testPlanId,jdbcType=VARCHAR},
      </if>
      <if test="functionalCaseId != null">
        functional_case_id = #{functionalCaseId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="executeUser != null">
        execute_user = #{executeUser,jdbcType=VARCHAR},
      </if>
      <if test="lastExecTime != null">
        last_exec_time = #{lastExecTime,jdbcType=BIGINT},
      </if>
      <if test="lastExecResult != null">
        last_exec_result = #{lastExecResult,jdbcType=VARCHAR},
      </if>
      <if test="pos != null">
        pos = #{pos,jdbcType=BIGINT},
      </if>
      <if test="testPlanCollectionId != null">
        test_plan_collection_id = #{testPlanCollectionId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.plan.domain.TestPlanFunctionalCase">
    update test_plan_functional_case
    set test_plan_id = #{testPlanId,jdbcType=VARCHAR},
      functional_case_id = #{functionalCaseId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      execute_user = #{executeUser,jdbcType=VARCHAR},
      last_exec_time = #{lastExecTime,jdbcType=BIGINT},
      last_exec_result = #{lastExecResult,jdbcType=VARCHAR},
      pos = #{pos,jdbcType=BIGINT},
      test_plan_collection_id = #{testPlanCollectionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    insert into test_plan_functional_case
    (id, test_plan_id, functional_case_id, create_time, create_user, execute_user, last_exec_time, 
      last_exec_result, pos, test_plan_collection_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.testPlanId,jdbcType=VARCHAR}, #{item.functionalCaseId,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=BIGINT}, #{item.createUser,jdbcType=VARCHAR}, #{item.executeUser,jdbcType=VARCHAR}, 
        #{item.lastExecTime,jdbcType=BIGINT}, #{item.lastExecResult,jdbcType=VARCHAR}, 
        #{item.pos,jdbcType=BIGINT}, #{item.testPlanCollectionId,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into test_plan_functional_case (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=VARCHAR}
        </if>
        <if test="'test_plan_id'.toString() == column.value">
          #{item.testPlanId,jdbcType=VARCHAR}
        </if>
        <if test="'functional_case_id'.toString() == column.value">
          #{item.functionalCaseId,jdbcType=VARCHAR}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=BIGINT}
        </if>
        <if test="'create_user'.toString() == column.value">
          #{item.createUser,jdbcType=VARCHAR}
        </if>
        <if test="'execute_user'.toString() == column.value">
          #{item.executeUser,jdbcType=VARCHAR}
        </if>
        <if test="'last_exec_time'.toString() == column.value">
          #{item.lastExecTime,jdbcType=BIGINT}
        </if>
        <if test="'last_exec_result'.toString() == column.value">
          #{item.lastExecResult,jdbcType=VARCHAR}
        </if>
        <if test="'pos'.toString() == column.value">
          #{item.pos,jdbcType=BIGINT}
        </if>
        <if test="'test_plan_collection_id'.toString() == column.value">
          #{item.testPlanCollectionId,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>