<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.project.mapper.FileModuleBlobMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.project.domain.FileModuleBlob">
    <id column="file_module_id" jdbcType="VARCHAR" property="fileModuleId" />
    <result column="repository_path" jdbcType="VARCHAR" property="repositoryPath" />
    <result column="repository_user_name" jdbcType="VARCHAR" property="repositoryUserName" />
    <result column="repository_token" jdbcType="VARCHAR" property="repositoryToken" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.metersphere.project.domain.FileModuleBlob">
    <result column="repository_desc" jdbcType="LONGVARBINARY" property="repositoryDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    file_module_id, repository_path, repository_user_name, repository_token
  </sql>
  <sql id="Blob_Column_List">
    repository_desc
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.metersphere.project.domain.FileModuleBlobExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from file_module_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.metersphere.project.domain.FileModuleBlobExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file_module_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from file_module_blob
    where file_module_id = #{fileModuleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from file_module_blob
    where file_module_id = #{fileModuleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.project.domain.FileModuleBlobExample">
    delete from file_module_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.project.domain.FileModuleBlob">
    insert into file_module_blob (file_module_id, repository_path, repository_user_name, 
      repository_token, repository_desc)
    values (#{fileModuleId,jdbcType=VARCHAR}, #{repositoryPath,jdbcType=VARCHAR}, #{repositoryUserName,jdbcType=VARCHAR}, 
      #{repositoryToken,jdbcType=VARCHAR}, #{repositoryDesc,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.project.domain.FileModuleBlob">
    insert into file_module_blob
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileModuleId != null">
        file_module_id,
      </if>
      <if test="repositoryPath != null">
        repository_path,
      </if>
      <if test="repositoryUserName != null">
        repository_user_name,
      </if>
      <if test="repositoryToken != null">
        repository_token,
      </if>
      <if test="repositoryDesc != null">
        repository_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileModuleId != null">
        #{fileModuleId,jdbcType=VARCHAR},
      </if>
      <if test="repositoryPath != null">
        #{repositoryPath,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUserName != null">
        #{repositoryUserName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryToken != null">
        #{repositoryToken,jdbcType=VARCHAR},
      </if>
      <if test="repositoryDesc != null">
        #{repositoryDesc,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.project.domain.FileModuleBlobExample" resultType="java.lang.Long">
    select count(*) from file_module_blob
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update file_module_blob
    <set>
      <if test="record.fileModuleId != null">
        file_module_id = #{record.fileModuleId,jdbcType=VARCHAR},
      </if>
      <if test="record.repositoryPath != null">
        repository_path = #{record.repositoryPath,jdbcType=VARCHAR},
      </if>
      <if test="record.repositoryUserName != null">
        repository_user_name = #{record.repositoryUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.repositoryToken != null">
        repository_token = #{record.repositoryToken,jdbcType=VARCHAR},
      </if>
      <if test="record.repositoryDesc != null">
        repository_desc = #{record.repositoryDesc,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update file_module_blob
    set file_module_id = #{record.fileModuleId,jdbcType=VARCHAR},
      repository_path = #{record.repositoryPath,jdbcType=VARCHAR},
      repository_user_name = #{record.repositoryUserName,jdbcType=VARCHAR},
      repository_token = #{record.repositoryToken,jdbcType=VARCHAR},
      repository_desc = #{record.repositoryDesc,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update file_module_blob
    set file_module_id = #{record.fileModuleId,jdbcType=VARCHAR},
      repository_path = #{record.repositoryPath,jdbcType=VARCHAR},
      repository_user_name = #{record.repositoryUserName,jdbcType=VARCHAR},
      repository_token = #{record.repositoryToken,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.project.domain.FileModuleBlob">
    update file_module_blob
    <set>
      <if test="repositoryPath != null">
        repository_path = #{repositoryPath,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUserName != null">
        repository_user_name = #{repositoryUserName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryToken != null">
        repository_token = #{repositoryToken,jdbcType=VARCHAR},
      </if>
      <if test="repositoryDesc != null">
        repository_desc = #{repositoryDesc,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where file_module_id = #{fileModuleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.metersphere.project.domain.FileModuleBlob">
    update file_module_blob
    set repository_path = #{repositoryPath,jdbcType=VARCHAR},
      repository_user_name = #{repositoryUserName,jdbcType=VARCHAR},
      repository_token = #{repositoryToken,jdbcType=VARCHAR},
      repository_desc = #{repositoryDesc,jdbcType=LONGVARBINARY}
    where file_module_id = #{fileModuleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.project.domain.FileModuleBlob">
    update file_module_blob
    set repository_path = #{repositoryPath,jdbcType=VARCHAR},
      repository_user_name = #{repositoryUserName,jdbcType=VARCHAR},
      repository_token = #{repositoryToken,jdbcType=VARCHAR}
    where file_module_id = #{fileModuleId,jdbcType=VARCHAR}
  </update>
</mapper>