<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.project.mapper.MessageTaskMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.project.domain.MessageTask">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="project_robot_id" jdbcType="VARCHAR" property="projectRobotId" />
    <result column="receivers" jdbcType="VARCHAR" property="receivers" typeHandler="io.metersphere.handler.ListTypeHandler" />
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="test_id" jdbcType="VARCHAR" property="testId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="use_default_template" jdbcType="BIT" property="useDefaultTemplate" />
    <result column="use_default_subject" jdbcType="BIT" property="useDefaultSubject" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.receiversCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=io.metersphere.handler.ListTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=io.metersphere.handler.ListTypeHandler} and #{criterion.secondValue,typeHandler=io.metersphere.handler.ListTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=io.metersphere.handler.ListTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.receiversCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=io.metersphere.handler.ListTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=io.metersphere.handler.ListTypeHandler} and #{criterion.secondValue,typeHandler=io.metersphere.handler.ListTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=io.metersphere.handler.ListTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, event, project_robot_id, receivers, task_type, test_id, project_id, `enable`, 
    create_user, create_time, update_user, update_time, use_default_template, use_default_subject, 
    subject
  </sql>
  <select id="selectByExample" parameterType="io.metersphere.project.domain.MessageTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from message_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.project.domain.MessageTaskExample">
    delete from message_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.project.domain.MessageTask">
    insert into message_task (id, event, project_robot_id, 
      receivers, 
      task_type, test_id, project_id, 
      `enable`, create_user, create_time, 
      update_user, update_time, use_default_template, 
      use_default_subject, subject)
    values (#{id,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, #{projectRobotId,jdbcType=VARCHAR}, 
      #{receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler}, 
      #{taskType,jdbcType=VARCHAR}, #{testId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=BIGINT}, #{useDefaultTemplate,jdbcType=BIT}, 
      #{useDefaultSubject,jdbcType=BIT}, #{subject,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.project.domain.MessageTask">
    insert into message_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="event != null">
        event,
      </if>
      <if test="projectRobotId != null">
        project_robot_id,
      </if>
      <if test="receivers != null">
        receivers,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="testId != null">
        test_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="useDefaultTemplate != null">
        use_default_template,
      </if>
      <if test="useDefaultSubject != null">
        use_default_subject,
      </if>
      <if test="subject != null">
        subject,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="event != null">
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="projectRobotId != null">
        #{projectRobotId,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null">
        #{receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="testId != null">
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="useDefaultTemplate != null">
        #{useDefaultTemplate,jdbcType=BIT},
      </if>
      <if test="useDefaultSubject != null">
        #{useDefaultSubject,jdbcType=BIT},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.project.domain.MessageTaskExample" resultType="java.lang.Long">
    select count(*) from message_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update message_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.event != null">
        event = #{record.event,jdbcType=VARCHAR},
      </if>
      <if test="record.projectRobotId != null">
        project_robot_id = #{record.projectRobotId,jdbcType=VARCHAR},
      </if>
      <if test="record.receivers != null">
        receivers = #{record.receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler},
      </if>
      <if test="record.taskType != null">
        task_type = #{record.taskType,jdbcType=VARCHAR},
      </if>
      <if test="record.testId != null">
        test_id = #{record.testId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null">
        `enable` = #{record.enable,jdbcType=BIT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.useDefaultTemplate != null">
        use_default_template = #{record.useDefaultTemplate,jdbcType=BIT},
      </if>
      <if test="record.useDefaultSubject != null">
        use_default_subject = #{record.useDefaultSubject,jdbcType=BIT},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update message_task
    set id = #{record.id,jdbcType=VARCHAR},
      event = #{record.event,jdbcType=VARCHAR},
      project_robot_id = #{record.projectRobotId,jdbcType=VARCHAR},
      receivers = #{record.receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler},
      task_type = #{record.taskType,jdbcType=VARCHAR},
      test_id = #{record.testId,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      `enable` = #{record.enable,jdbcType=BIT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      use_default_template = #{record.useDefaultTemplate,jdbcType=BIT},
      use_default_subject = #{record.useDefaultSubject,jdbcType=BIT},
      subject = #{record.subject,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.project.domain.MessageTask">
    update message_task
    <set>
      <if test="event != null">
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="projectRobotId != null">
        project_robot_id = #{projectRobotId,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null">
        receivers = #{receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="testId != null">
        test_id = #{testId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        `enable` = #{enable,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="useDefaultTemplate != null">
        use_default_template = #{useDefaultTemplate,jdbcType=BIT},
      </if>
      <if test="useDefaultSubject != null">
        use_default_subject = #{useDefaultSubject,jdbcType=BIT},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.project.domain.MessageTask">
    update message_task
    set event = #{event,jdbcType=VARCHAR},
      project_robot_id = #{projectRobotId,jdbcType=VARCHAR},
      receivers = #{receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler},
      task_type = #{taskType,jdbcType=VARCHAR},
      test_id = #{testId,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      `enable` = #{enable,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT},
      use_default_template = #{useDefaultTemplate,jdbcType=BIT},
      use_default_subject = #{useDefaultSubject,jdbcType=BIT},
      subject = #{subject,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    insert into message_task
    (id, event, project_robot_id, receivers, task_type, test_id, project_id, `enable`, 
      create_user, create_time, update_user, update_time, use_default_template, use_default_subject, 
      subject)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.event,jdbcType=VARCHAR}, #{item.projectRobotId,jdbcType=VARCHAR}, 
        #{item.receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler}, 
        #{item.taskType,jdbcType=VARCHAR}, #{item.testId,jdbcType=VARCHAR}, #{item.projectId,jdbcType=VARCHAR}, 
        #{item.enable,jdbcType=BIT}, #{item.createUser,jdbcType=VARCHAR}, #{item.createTime,jdbcType=BIGINT}, 
        #{item.updateUser,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=BIGINT}, #{item.useDefaultTemplate,jdbcType=BIT}, 
        #{item.useDefaultSubject,jdbcType=BIT}, #{item.subject,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into message_task (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=VARCHAR}
        </if>
        <if test="'event'.toString() == column.value">
          #{item.event,jdbcType=VARCHAR}
        </if>
        <if test="'project_robot_id'.toString() == column.value">
          #{item.projectRobotId,jdbcType=VARCHAR}
        </if>
        <if test="'receivers'.toString() == column.value">
          #{item.receivers,jdbcType=VARCHAR,typeHandler=io.metersphere.handler.ListTypeHandler}
        </if>
        <if test="'task_type'.toString() == column.value">
          #{item.taskType,jdbcType=VARCHAR}
        </if>
        <if test="'test_id'.toString() == column.value">
          #{item.testId,jdbcType=VARCHAR}
        </if>
        <if test="'project_id'.toString() == column.value">
          #{item.projectId,jdbcType=VARCHAR}
        </if>
        <if test="'enable'.toString() == column.value">
          #{item.enable,jdbcType=BIT}
        </if>
        <if test="'create_user'.toString() == column.value">
          #{item.createUser,jdbcType=VARCHAR}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=BIGINT}
        </if>
        <if test="'update_user'.toString() == column.value">
          #{item.updateUser,jdbcType=VARCHAR}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=BIGINT}
        </if>
        <if test="'use_default_template'.toString() == column.value">
          #{item.useDefaultTemplate,jdbcType=BIT}
        </if>
        <if test="'use_default_subject'.toString() == column.value">
          #{item.useDefaultSubject,jdbcType=BIT}
        </if>
        <if test="'subject'.toString() == column.value">
          #{item.subject,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>