<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ExtFileAssociationMapper">
  <select id="getFileIdsByProjectIdAndType" resultType="java.lang.String">
    SELECT file_metadata_id  FROM file_association
    WHERE project_id = #{projectId,jdbcType=VARCHAR} AND type = #{fileAssociationType,jdbcType=VARCHAR}
  </select>
</mapper>