<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.ExtApiScenarioReferenceIdMapper">
    <select id="selectUrlByProjectId" resultType="io.metersphere.base.domain.ApiScenarioReferenceId">
        SELECT method, url, reference_id
        from api_scenario_reference_id
        WHERE api_scenario_id in (
            SELECT id from api_scenario
            WHERE status != 'Trash'
                AND project_id = #{projectId}
            <if test="versionId != null">
                AND version_id = #{versionId}
            </if>
          )
          AND reference_id IS NOT NULL
    </select>
    <select id="selectReferenceIdByIds" resultType="io.metersphere.base.domain.ApiScenarioReferenceId">
        SELECT api_scenario_reference_id.*
        from api_scenario_reference_id
        left join api_scenario on api_scenario.id = api_scenario_reference_id.api_scenario_id
        <where>
            <if test="ids != null and ids.size() > 0">
                api_scenario_reference_id.reference_id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            and api_scenario.status != 'Trash' and api_scenario_reference_id.reference_type = 'REF'
        </where>
    </select>
    <select id="selectByScenarioIds" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            api_scenario_reference_id
        WHERE
            api_scenario_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>