<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.ExtMockExpectConfigMapper">

    <select id="selectByProjectIdAndStatusIsOpen" resultType="io.metersphere.base.domain.MockExpectConfigWithBLOBs">
        SELECT
            m.*
        FROM
            mock_expect_config m
        WHERE
            m.STATUS = 'true'
          AND m.mock_config_id IN (
            SELECT
                c.id
            FROM
                mock_config c
                    INNER JOIN api_definition a ON a.id = c.api_id and a.project_id = c.project_id
            WHERE
                c.api_path IS NULL
              AND c.project_id = #{0} and a.status !='Trash' and a.protocol='TCP')
    </select>
    <select id="selectByApiId" resultType="io.metersphere.base.domain.MockExpectConfigWithBLOBs">
        SELECT * FROM mock_expect_config WHERE mock_config_id IN
            (
                SELECT id FROM mock_config WHERE api_id = #{0}
            )
    </select>
    <select id="selectByApiIdIn" resultType="io.metersphere.api.dto.mock.config.MockConfigImportDTO">
        SELECT
            mock_expect_config.*,mock_config.api_id AS apiId
        FROM
            mock_expect_config
        LEFT JOIN mock_config ON mock_expect_config.mock_config_id = mock_config.id
        WHERE mock_config.api_id in
        <foreach collection="values" item="value" separator="," open="(" close=")">
            #{value}
        </foreach>
    </select>

    <select id="selectExlectNumByMockConfigId" resultType="java.lang.String">
        SELECT expect_num FROM mock_expect_config WHERE mock_config_id = #{0}
    </select>

    <select id="selectApiNumberByMockConfigId" resultType="java.lang.String">
        SELECT num FROM api_definition WHERE id IN (
            select api_id from  mock_config WHERE id = #{0}
            )
    </select>
</mapper>