<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ApiDelimitExecResultMapper">

    <delete id="deleteByResourceId" parameterType="java.lang.String">
      delete from api_delimit_exec_result  where resource_id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="io.metersphere.base.domain.ApiDelimitExecResult">
        insert into api_delimit_exec_result
            (id, resource_id,name,content, status, user_id, start_time, end_time)
        values
           (#{id,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},  #{content,jdbcType=LONGVARCHAR}, #{status,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
            #{startTime,jdbcType=BIGINT}, #{endTime,jdbcType=BIGINT})
    </insert>

    <select id="selectByResourceId" parameterType="java.lang.String" resultType="io.metersphere.base.domain.ApiDelimitExecResult">
        select  * from api_delimit_exec_result
        where resource_id = #{resourceId,jdbcType=VARCHAR}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="io.metersphere.base.domain.ApiDelimitExecResult">
        select  * from api_delimit_exec_result
        where id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>