<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ApiDataViewMapper">
    <resultMap id="apiDataView" type="io.metersphere.base.domain.ApiDataView">
        <id column="id" property="id"/>
        <result column="report_id" property="reportId"/>
        <result column="api_name" property="apiName"/>
        <result column="url" property="url"/>
        <result column="response_code" property="startTime"/>
        <result column="start_time" property="responseCode"/>
        <result column="response_time" property="responseTime"/>
    </resultMap>
    <delete id="deleteByReportId" parameterType="java.lang.String">
        delete from api_data_view where report_id = #{reportId,jdbcType=VARCHAR}
    </delete>

    <select id="selectAll" resultType="io.metersphere.api.dto.ApiMonitorSearch">
        select distinct url from api_data_view order by url;
    </select>

    <select id="selectResponseTimeByUrl" parameterType="java.lang.String"
            resultType="io.metersphere.api.dto.ApiResponseTimeMonitor">
        select id,report_id,api_name,start_time,response_time,url
        from api_data_view
        <where>
            <if test="url != null and url != ''">
                url = #{url}
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND date_format(start_time,'%Y-%m-%d %H:%i:%s')
                between #{startTime} and #{endTime}
            </if>
            <if test="startTime == null or startTime == '' or endTime == null or endTime == ''">
                AND TO_DAYS(start_time) =TO_DAYS(NOW())
            </if>
            order by start_time;
        </where>

    </select>
    <select id="selectResponseCodeByUrl" resultType="io.metersphere.api.dto.ApiResponseCodeMonitor">
        select id,report_id,api_name,start_time,response_code,url
        from api_data_view
        <where>
            <if test="url != null and url != ''">
                url = #{url}
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND date_format(start_time,'%Y-%m-%d %H:%i:%s')
                between #{startTime} and #{endTime} and length(response_code)=3
            </if>
            <if test="startTime == null or startTime == '' or endTime == null or endTime == ''">
                AND TO_DAYS(start_time) =TO_DAYS(NOW()) and length(response_code)=3
            </if>
            order by start_time;
        </where>
    </select>

    <select id="selectReportIdByUrlAndStartTime" resultType="java.lang.String">
        select report_id from api_data_view where url=#{apiUrl} and start_time=#{startTime};
    </select>

    <insert id="insertListApiData" parameterType="java.util.List">
        insert into api_data_view(id, report_id, api_name,url, response_code, start_time,response_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.reportId,jdbcType=VARCHAR},
            #{item.apiName,jdbcType=VARCHAR},
            #{item.url,jdbcType=VARCHAR},
            #{item.responseCode,jdbcType=VARCHAR},
            #{item.startTime,jdbcType=VARCHAR},
            #{item.responseTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>