<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.EsbApiParamsMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.base.domain.EsbApiParams">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.metersphere.base.domain.EsbApiParamsWithBLOBs">
    <result column="data_struct" jdbcType="LONGVARCHAR" property="dataStruct" />
    <result column="fronted_script" jdbcType="LONGVARCHAR" property="frontedScript" />
    <result column="response_data_struct" jdbcType="LONGVARCHAR" property="responseDataStruct" />
    <result column="backed_script" jdbcType="LONGVARCHAR" property="backedScript" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, resource_id
  </sql>
  <sql id="Blob_Column_List">
    data_struct, fronted_script, response_data_struct, backed_script
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.metersphere.base.domain.EsbApiParamsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from esb_api_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.metersphere.base.domain.EsbApiParamsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from esb_api_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from esb_api_params
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from esb_api_params
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.base.domain.EsbApiParamsExample">
    delete from esb_api_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.base.domain.EsbApiParamsWithBLOBs">
    insert into esb_api_params (id, resource_id, data_struct, 
      fronted_script, response_data_struct, 
      backed_script)
    values (#{id,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{dataStruct,jdbcType=LONGVARCHAR}, 
      #{frontedScript,jdbcType=LONGVARCHAR}, #{responseDataStruct,jdbcType=LONGVARCHAR}, 
      #{backedScript,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.base.domain.EsbApiParamsWithBLOBs">
    insert into esb_api_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="dataStruct != null">
        data_struct,
      </if>
      <if test="frontedScript != null">
        fronted_script,
      </if>
      <if test="responseDataStruct != null">
        response_data_struct,
      </if>
      <if test="backedScript != null">
        backed_script,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="dataStruct != null">
        #{dataStruct,jdbcType=LONGVARCHAR},
      </if>
      <if test="frontedScript != null">
        #{frontedScript,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseDataStruct != null">
        #{responseDataStruct,jdbcType=LONGVARCHAR},
      </if>
      <if test="backedScript != null">
        #{backedScript,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.base.domain.EsbApiParamsExample" resultType="java.lang.Long">
    select count(*) from esb_api_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update esb_api_params
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceId != null">
        resource_id = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataStruct != null">
        data_struct = #{record.dataStruct,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.frontedScript != null">
        fronted_script = #{record.frontedScript,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.responseDataStruct != null">
        response_data_struct = #{record.responseDataStruct,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.backedScript != null">
        backed_script = #{record.backedScript,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update esb_api_params
    set id = #{record.id,jdbcType=VARCHAR},
      resource_id = #{record.resourceId,jdbcType=VARCHAR},
      data_struct = #{record.dataStruct,jdbcType=LONGVARCHAR},
      fronted_script = #{record.frontedScript,jdbcType=LONGVARCHAR},
      response_data_struct = #{record.responseDataStruct,jdbcType=LONGVARCHAR},
      backed_script = #{record.backedScript,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update esb_api_params
    set id = #{record.id,jdbcType=VARCHAR},
      resource_id = #{record.resourceId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.base.domain.EsbApiParamsWithBLOBs">
    update esb_api_params
    <set>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="dataStruct != null">
        data_struct = #{dataStruct,jdbcType=LONGVARCHAR},
      </if>
      <if test="frontedScript != null">
        fronted_script = #{frontedScript,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseDataStruct != null">
        response_data_struct = #{responseDataStruct,jdbcType=LONGVARCHAR},
      </if>
      <if test="backedScript != null">
        backed_script = #{backedScript,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.metersphere.base.domain.EsbApiParamsWithBLOBs">
    update esb_api_params
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      data_struct = #{dataStruct,jdbcType=LONGVARCHAR},
      fronted_script = #{frontedScript,jdbcType=LONGVARCHAR},
      response_data_struct = #{responseDataStruct,jdbcType=LONGVARCHAR},
      backed_script = #{backedScript,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.base.domain.EsbApiParams">
    update esb_api_params
    set resource_id = #{resourceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>