<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.TestCaseTemplateMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.base.domain.TestCaseTemplate">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="case_name" jdbcType="VARCHAR" property="caseName" />
    <result column="system" jdbcType="BIT" property="system" />
    <result column="global" jdbcType="BIT" property="global" />
    <result column="workspace_id" jdbcType="VARCHAR" property="workspaceId" />
    <result column="prerequisite" jdbcType="VARCHAR" property="prerequisite" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="step_model" jdbcType="VARCHAR" property="stepModel" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.metersphere.base.domain.TestCaseTemplateWithBLOBs">
    <result column="step_description" jdbcType="LONGVARCHAR" property="stepDescription" />
    <result column="expected_result" jdbcType="LONGVARCHAR" property="expectedResult" />
    <result column="actual_result" jdbcType="LONGVARCHAR" property="actualResult" />
    <result column="steps" jdbcType="LONGVARCHAR" property="steps" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, `type`, description, case_name, `system`, `global`, workspace_id, prerequisite, 
    create_time, update_time, step_model, create_user
  </sql>
  <sql id="Blob_Column_List">
    step_description, expected_result, actual_result, steps
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.metersphere.base.domain.TestCaseTemplateExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from test_case_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.metersphere.base.domain.TestCaseTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_case_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from test_case_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from test_case_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.base.domain.TestCaseTemplateExample">
    delete from test_case_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.base.domain.TestCaseTemplateWithBLOBs">
    insert into test_case_template (id, `name`, `type`, 
      description, case_name, `system`, 
      `global`, workspace_id, prerequisite, 
      create_time, update_time, step_model, 
      create_user, step_description, expected_result, 
      actual_result, steps)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{caseName,jdbcType=VARCHAR}, #{system,jdbcType=BIT}, 
      #{global,jdbcType=BIT}, #{workspaceId,jdbcType=VARCHAR}, #{prerequisite,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{stepModel,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{stepDescription,jdbcType=LONGVARCHAR}, #{expectedResult,jdbcType=LONGVARCHAR}, 
      #{actualResult,jdbcType=LONGVARCHAR}, #{steps,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.base.domain.TestCaseTemplateWithBLOBs">
    insert into test_case_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="caseName != null">
        case_name,
      </if>
      <if test="system != null">
        `system`,
      </if>
      <if test="global != null">
        `global`,
      </if>
      <if test="workspaceId != null">
        workspace_id,
      </if>
      <if test="prerequisite != null">
        prerequisite,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="stepModel != null">
        step_model,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="stepDescription != null">
        step_description,
      </if>
      <if test="expectedResult != null">
        expected_result,
      </if>
      <if test="actualResult != null">
        actual_result,
      </if>
      <if test="steps != null">
        steps,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="caseName != null">
        #{caseName,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=BIT},
      </if>
      <if test="global != null">
        #{global,jdbcType=BIT},
      </if>
      <if test="workspaceId != null">
        #{workspaceId,jdbcType=VARCHAR},
      </if>
      <if test="prerequisite != null">
        #{prerequisite,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="stepModel != null">
        #{stepModel,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="stepDescription != null">
        #{stepDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="expectedResult != null">
        #{expectedResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="actualResult != null">
        #{actualResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="steps != null">
        #{steps,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.base.domain.TestCaseTemplateExample" resultType="java.lang.Long">
    select count(*) from test_case_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test_case_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.caseName != null">
        case_name = #{record.caseName,jdbcType=VARCHAR},
      </if>
      <if test="record.system != null">
        `system` = #{record.system,jdbcType=BIT},
      </if>
      <if test="record.global != null">
        `global` = #{record.global,jdbcType=BIT},
      </if>
      <if test="record.workspaceId != null">
        workspace_id = #{record.workspaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.prerequisite != null">
        prerequisite = #{record.prerequisite,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.stepModel != null">
        step_model = #{record.stepModel,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDescription != null">
        step_description = #{record.stepDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.expectedResult != null">
        expected_result = #{record.expectedResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.actualResult != null">
        actual_result = #{record.actualResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.steps != null">
        steps = #{record.steps,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update test_case_template
    set id = #{record.id,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      case_name = #{record.caseName,jdbcType=VARCHAR},
      `system` = #{record.system,jdbcType=BIT},
      `global` = #{record.global,jdbcType=BIT},
      workspace_id = #{record.workspaceId,jdbcType=VARCHAR},
      prerequisite = #{record.prerequisite,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      step_model = #{record.stepModel,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      step_description = #{record.stepDescription,jdbcType=LONGVARCHAR},
      expected_result = #{record.expectedResult,jdbcType=LONGVARCHAR},
      actual_result = #{record.actualResult,jdbcType=LONGVARCHAR},
      steps = #{record.steps,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test_case_template
    set id = #{record.id,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      case_name = #{record.caseName,jdbcType=VARCHAR},
      `system` = #{record.system,jdbcType=BIT},
      `global` = #{record.global,jdbcType=BIT},
      workspace_id = #{record.workspaceId,jdbcType=VARCHAR},
      prerequisite = #{record.prerequisite,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      step_model = #{record.stepModel,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.base.domain.TestCaseTemplateWithBLOBs">
    update test_case_template
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="caseName != null">
        case_name = #{caseName,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        `system` = #{system,jdbcType=BIT},
      </if>
      <if test="global != null">
        `global` = #{global,jdbcType=BIT},
      </if>
      <if test="workspaceId != null">
        workspace_id = #{workspaceId,jdbcType=VARCHAR},
      </if>
      <if test="prerequisite != null">
        prerequisite = #{prerequisite,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="stepModel != null">
        step_model = #{stepModel,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="stepDescription != null">
        step_description = #{stepDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="expectedResult != null">
        expected_result = #{expectedResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="actualResult != null">
        actual_result = #{actualResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="steps != null">
        steps = #{steps,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.metersphere.base.domain.TestCaseTemplateWithBLOBs">
    update test_case_template
    set `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      case_name = #{caseName,jdbcType=VARCHAR},
      `system` = #{system,jdbcType=BIT},
      `global` = #{global,jdbcType=BIT},
      workspace_id = #{workspaceId,jdbcType=VARCHAR},
      prerequisite = #{prerequisite,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      step_model = #{stepModel,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      step_description = #{stepDescription,jdbcType=LONGVARCHAR},
      expected_result = #{expectedResult,jdbcType=LONGVARCHAR},
      actual_result = #{actualResult,jdbcType=LONGVARCHAR},
      steps = #{steps,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.base.domain.TestCaseTemplate">
    update test_case_template
    set `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      case_name = #{caseName,jdbcType=VARCHAR},
      `system` = #{system,jdbcType=BIT},
      `global` = #{global,jdbcType=BIT},
      workspace_id = #{workspaceId,jdbcType=VARCHAR},
      prerequisite = #{prerequisite,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      step_model = #{stepModel,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>