<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.UiScenarioReferenceMapper">
  <resultMap id="BaseResultMap" type="io.metersphere.base.domain.UiScenarioReference">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ui_scenario_id" jdbcType="VARCHAR" property="uiScenarioId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="reference_id" jdbcType="VARCHAR" property="referenceId" />
    <result column="reference_type" jdbcType="VARCHAR" property="referenceType" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ui_scenario_id, create_time, create_user_id, reference_id, reference_type, data_type
  </sql>
  <select id="selectByExample" parameterType="io.metersphere.base.domain.UiScenarioReferenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ui_scenario_reference
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ui_scenario_reference
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ui_scenario_reference
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.metersphere.base.domain.UiScenarioReferenceExample">
    delete from ui_scenario_reference
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.metersphere.base.domain.UiScenarioReference">
    insert into ui_scenario_reference (id, ui_scenario_id, create_time, 
      create_user_id, reference_id, reference_type, 
      data_type)
    values (#{id,jdbcType=VARCHAR}, #{uiScenarioId,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{createUserId,jdbcType=VARCHAR}, #{referenceId,jdbcType=VARCHAR}, #{referenceType,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.metersphere.base.domain.UiScenarioReference">
    insert into ui_scenario_reference
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uiScenarioId != null">
        ui_scenario_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="referenceId != null">
        reference_id,
      </if>
      <if test="referenceType != null">
        reference_type,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uiScenarioId != null">
        #{uiScenarioId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="referenceId != null">
        #{referenceId,jdbcType=VARCHAR},
      </if>
      <if test="referenceType != null">
        #{referenceType,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.metersphere.base.domain.UiScenarioReferenceExample" resultType="java.lang.Long">
    select count(*) from ui_scenario_reference
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ui_scenario_reference
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uiScenarioId != null">
        ui_scenario_id = #{record.uiScenarioId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.referenceId != null">
        reference_id = #{record.referenceId,jdbcType=VARCHAR},
      </if>
      <if test="record.referenceType != null">
        reference_type = #{record.referenceType,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ui_scenario_reference
    set id = #{record.id,jdbcType=VARCHAR},
      ui_scenario_id = #{record.uiScenarioId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      reference_id = #{record.referenceId,jdbcType=VARCHAR},
      reference_type = #{record.referenceType,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.metersphere.base.domain.UiScenarioReference">
    update ui_scenario_reference
    <set>
      <if test="uiScenarioId != null">
        ui_scenario_id = #{uiScenarioId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="referenceId != null">
        reference_id = #{referenceId,jdbcType=VARCHAR},
      </if>
      <if test="referenceType != null">
        reference_type = #{referenceType,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.metersphere.base.domain.UiScenarioReference">
    update ui_scenario_reference
    set ui_scenario_id = #{uiScenarioId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      reference_id = #{referenceId,jdbcType=VARCHAR},
      reference_type = #{referenceType,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="refList" parameterType="io.metersphere.xpack.ui.dto.RefReq" resultType="io.metersphere.xpack.ui.dto.RefResp">
    SELECT us.id AS targetId, us.name AS scenarioName , us.num AS id,  p.name AS project,  usf.create_time AS dateStr ,
    w.name AS workspace, p.workspace_id AS workspaceId, p.id AS projectId
    FROM `ui_scenario_reference` usf
    LEFT JOIN ui_scenario us ON usf.ui_scenario_id = us.id
    LEFT JOIN project p ON us.project_id = p.id
    LEFT JOIN `workspace` w ON  p.workspace_id = w.id
    WHERE usf.reference_id = #{request.scenarioId}
      AND usf.reference_type = "REF"
      AND us.scenario_type = #{request.scenarioType}
    <if test="request.workspace != null and request.workspace.size() > 0">
      AND w.id in
      <foreach close=")" collection="request.workspace" item="listItem" open="(" separator=",">
        #{listItem}
      </foreach>
    </if>
    <if test="request.project != null and request.project.size() > 0">
      AND p.id in
      <foreach close=")" collection="request.project" item="listItem" open="(" separator=",">
        #{listItem}
      </foreach>
    </if>
    <if test="request.timeOrder != null and request.timeOrder == 1">
      ORDER by usf.create_time DESC
    </if>
    <if test="request.timeOrder != null and request.timeOrder == 0">
      ORDER by usf.create_time ASC
    </if>

    <if test="request.idOrder != null and request.idOrder == 1">
      ORDER by us.num DESC
    </if>
    <if test="request.idOrder != null and request.idOrder == 0">
      ORDER by us.num ASC
    </if>
  </select>

  <select id="getTestPlanRef"  parameterType="io.metersphere.xpack.ui.dto.RefReq" resultType="io.metersphere.xpack.ui.dto.TestPlanRefResp">
    SELECT tp.name AS scenarioName , us.id AS id,  p.name AS project,  us.create_time AS dateStr , w.name AS workspace, tp.id AS targetId,
    p.workspace_id AS workspaceId, p.id AS projectId
    FROM
    `test_plan_ui_scenario` us LEFT JOIN `test_plan` tp ON us.test_plan_id = tp.id
    LEFT JOIN project p ON tp.project_id = p.id
    LEFT JOIN `workspace` w ON  p.workspace_id = w.id

    WHERE
     us.ui_scenario_id = #{request.scenarioId}
        <if test="request.workspace != null and request.workspace.size() > 0">
          AND w.id in
          <foreach close=")" collection="request.workspace" item="listItem" open="(" separator=",">
            #{listItem}
          </foreach>
        </if>
        <if test="request.project != null  and request.project.size() > 0">
          AND p.id in
          <foreach close=")" collection="request.project" item="listItem" open="(" separator=",">
            #{listItem}
          </foreach>
        </if>
        <if test="request.timeOrder != null and request.timeOrder == 1">
          ORDER by us.create_time DESC
        </if>
        <if test="request.timeOrder != null and request.timeOrder == 0">
          ORDER by us.create_time ASC
        </if>
  </select>

  <select id="checkRef" parameterType="io.metersphere.xpack.ui.dto.UiCheckRefReq" resultType="io.metersphere.xpack.ui.dto.UiCheckRefDTO">
        SELECT us.scenario_type AS scenarioType, us.name AS scenarioName, usf.reference_id AS scenarioId
        FROM `ui_scenario_reference` usf left join ui_scenario us on usf.ui_scenario_id = us.id

        WHERE usf.reference_id  in
        <foreach close=")" collection="request.scenarioIds" item="item" open="(" separator=",">
          #{item}
        </foreach>
         AND usf.reference_type = "REF" ORDER BY usf.create_time DESC LIMIT 3;
  </select>
</mapper>