<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.base.mapper.ext.BaseRelationshipEdgeMapper">

  <select id="getGraphIdsByNodeIds" resultType="java.lang.String">
    select distinct graph_id
    from relationship_edge
    where source_id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
    or target_id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO relationship_edge (source_id, target_id, type, graph_id, creator, create_time)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.sourceId}, #{item.targetId}, #{item.type}, #{item.graphId}, #{item.creator}, #{item.createTime})
    </foreach>
  </insert>

  <update id="batchUpdateGraphId" parameterType="java.util.Map">
    UPDATE relationship_edge
    SET graph_id = #{graphId}
    WHERE (source_id, target_id) IN
    <foreach collection="items" item="item" separator="," open="(" close=")">
      (#{item.sourceId}, #{item.targetId})
    </foreach>
  </update>

</mapper>
