<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.BaseUserGroupMapper">


    <select id="getUserGroup" resultType="io.metersphere.dto.UserGroupDTO">
        SELECT ug.user_id, ug.group_id, ug.source_id, g.`name`, g.type
        FROM user_group ug JOIN `group` g ON ug.group_id = g.id
        WHERE ug.user_id = #{userId}
        <if test="projectId != null">
            AND ug.source_id = #{projectId}
        </if>
    </select>

    <select id="getWorkspaceMemberGroups" resultType="io.metersphere.base.domain.Group">
        SELECT r.id, r.name
        FROM workspace w
                 JOIN user_group ur ON w.id = ur.source_id
                 JOIN `group` r ON r.id = ur.group_id
        WHERE w.id = #{workspaceId}
          AND ur.user_id = #{userId}
    </select>
    <select id="getMemberList" resultType="io.metersphere.base.domain.User">
        SELECT DISTINCT * FROM (
        SELECT `user`.* FROM user_group JOIN `user` ON user_group.user_id = `user`.id
        WHERE user_group.source_id = #{member.workspaceId}
        <if test="member.name != null">
            AND `user`.name LIKE CONCAT('%', #{member.name},'%')
        </if>
        ORDER BY user_group.update_time DESC) temp
    </select>
    <select id="getProjectMemberList" resultType="io.metersphere.base.domain.User">
        SELECT DISTINCT *
        FROM (
                 SELECT `user`.*
                 FROM user_group
                          JOIN `user` ON user_group.user_id = `user`.id
                 WHERE user_group.source_id = #{request.projectId}
                 ORDER BY `user`.update_time DESC) temp
    </select>
    <select id="getProjectMemberGroups" resultType="io.metersphere.base.domain.Group">
        SELECT r.id, r.name
        FROM project p
                 JOIN user_group ur ON p.id = ur.source_id
                 JOIN `group` r ON r.id = ur.group_id
        WHERE p.id = #{projectId}
          AND ur.user_id = #{userId}
    </select>
    <select id="getRelatedSource" resultType="io.metersphere.dto.RelatedSource">
        SELECT workspace_id, project.id
        FROM user_group
                 JOIN project ON source_id = project.id
                 JOIN workspace w ON project.workspace_id = w.id
        WHERE user_id = #{userId} -- project_admin project_member read_only bb
        UNION
        SELECT w.id, ''
        FROM user_group
                 JOIN workspace w ON user_group.source_id = w.id
        WHERE user_id = #{userId} -- workspace_admin workspace_member ccc
    </select>
    <select id="getGroupUser" resultType="io.metersphere.base.domain.User">
        SELECT DISTINCT user.id, user.name, user.email, user.phone, user.create_time
        FROM user JOIN user_group ug ON user.id = ug.user_id
        WHERE ug.group_id = #{request.userGroupId}
        <if test="request.name != null and request.name !=''">
            AND user.name LIKE concat('%', #{request.name},'%')
        </if>
        <if test="request.onlyQueryCurrentProject == true">
            AND ug.source_id = #{request.projectId}
        </if>
        ORDER BY ug.update_time DESC
    </select>

    <select id="checkSourceRole" resultType="Integer">
        SELECT COUNT(id)
        FROM user_group ug
        WHERE ug.user_id = #{userId}
          AND ug.source_id = #{sourceId}
          AND ug.group_id = #{groupId}
    </select>

    <select id="getUserGroupInfoByProjectId" resultType="io.metersphere.dto.UserGroupInfoDTO">
        SELECT DISTINCT user.id      AS userId,
                        user.name    AS userName,
                        user.email   AS userEmail,
                        ug.source_id AS sourceId,
                        g.`name`     AS groupName,
                        g.id         AS groupId
        FROM user
                 INNER JOIN user_group ug ON user.id = ug.user_id
                 INNER JOIN `group` g ON ug.group_id = g.id
        WHERE g.type = 'PROJECT'
          AND ug.source_id = #{0}
        ORDER BY g.create_time ASC;
    </select>
    <select id="getProjectMemberOption" resultType="io.metersphere.base.domain.User">
        SELECT DISTINCT *
        FROM (SELECT u.id, u.name, u.email
              FROM user_group
                       JOIN `user` u ON user_group.user_id = u.id
              WHERE user_group.source_id = #{projectId}
              ORDER BY user_group.update_time DESC) temp
    </select>
    <select id="getProjectUserId" resultType="java.lang.String">
        SELECT DISTINCT USER.id
        FROM USER
                 JOIN user_group ug ON USER.id = ug.user_id
        WHERE ug.source_id = #{0}
    </select>
</mapper>
