<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.metersphere.base.mapper.ext.BaseJarConfigMapper">
    <select id="checkExist" resultType="integer">
        select count(*) from jar_config jc
        <where>
            jc.name = #{request.name}
            and jc.id != #{request.id}
            <if test="request.resourceType == 'WORKSPACE'">
                and jc.resource_id = #{request.resourceId}
            </if>
            <if test="request.resourceType == 'PROJECT'">
                and (jc.resource_id = #{request.resourceId} or jc.resource_id = #{request.workspaceId})
            </if>
        </where>
    </select>

    <select id="list" resultType="io.metersphere.base.domain.JarConfig">
        select * from jar_config jc
        <where>
            <if test="request.name != null and request.name != ''">
                (
                    jc.name like CONCAT('%', #{request.name},'%')
                    or jc.file_name like CONCAT('%', #{request.name},'%')
                )
            </if>
            <if test="request.resourceType == 'WORKSPACE'">
                and jc.resource_id = #{request.resourceId}
            </if>
            <if test="request.resourceType == 'PROJECT'">
                and (jc.resource_id = #{request.resourceId} or jc.resource_id = #{request.workspaceId})
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>
